[2014-10-27 14:52] marv-engine opened #1057 "Footer obscures content on FAQ page"
The scroll bar is at the bottom of the page, but the footer covers up some content. See

![image](https://cloud.githubusercontent.com/assets/5295796/4792703/b805cb90-5de8-11e4-94b2-32aa919a492b.png)

[2014-10-27 14:56] marv-engine opened #1058 "links to FAQ page should go to the specific item on the page"
So we have to make sure there's an appropriate FAQ entry before we include a context-specific link to the FAQ page.

[2014-10-27 15:15] marv-engine opened #1059 "Backup files should include a warning to not edit the file"
Since it's easy to ruin the format of the json file, the file should tell users not to edit it.

[2014-10-27 15:18] marv-engine opened #1060 "Should a backup file have "pubkey":false for each watch-only address?"
The private key addresses don't have a pubkey entry.

[2014-10-27 16:02] achamely opened #1061 "UI Design: DEx Phase 2"
The new Metadex feature requires an update to the dex ui to include the metadex feature set .  This issue is to track the design of the new interface which will then need to be implemented.

[2014-10-27 16:04] achamely opened #1062 "UI Design: Asset Creation/Management"
The new asset creation / management features of Mastercoin need an interface.
Asset creation can probably be rolled into the existing 'create smart property page with minor tweak to tx type'  But the management of the property (revoking tokens, adding new tokens) will need new ui design.  This issue is to track the design of the new interface which will then need to be implemented.

[2014-10-27 16:05] #1057 closed, assigned to nobody

[2014-10-27 16:07] achamely opened #1063 "UI Design: Pending Transactions"
Omni needs a way to display pending transaction information so we can present the user with accurate / current information about the transaction they just submitted before it has been picked up by the blockchain. This issue is to track the design of the new interface which will then need to be implemented.

[2014-10-27 16:08] achamely opened #1064 "DEx Phase 2 Implementation"
This issue is to track the implementation of the UI design for the MetaDEx #1061 into Omni

[2014-10-27 16:09] achamely opened #1065 "Managed Property Implementation"
This issue is to track the implementation of the UI design for the Managed Property feature sets #1062 into Omni

[2014-10-27 16:11] achamely opened #1066 "Pending Transaction Implementation"
This issue is to track adding support for Pending transactions #1063 into Omni UI.
This will also require an update to the database to store the transactions

[2014-10-27 18:26] marv-engine opened #1067 "Check for a change in a crowdsale before submitting a participation send"
Just like we check for a change in the exchange rate for BTC (and others in the future), the confirmation modal for participating in a crowdsale should check for closure or a change in the currency accepted or # of new tokens credited per unit invested before actually submitting the simple send. If possible, the check should include the tx's in the pending block.

[2014-10-28 14:19] #1050 closed, assigned to nobody

[2014-10-29 15:28] jeroenn13 opened #1070 "MaidSafeCoins not recognized in Omniwallet"
Hi,
I currently have some MaidSafeCoins and it's the first time they didn't showed up at Omniwallet.
I have added the private key and have send multiple times before.

Could you fix this?

[2014-10-29 15:47] #1070 closed, assigned to nobody

[2014-10-31 15:14] marv-engine opened #1074 "Alert user ASAP when an address has insufficient btc for miner fee"
For instance, when doing an administrative tx, e.g. create/update/cancel sell order or smart property, tell the user at the earliest possible moment that he doesn't have enough btc to pay the miner fee.

My Addresses page could highlight addresses with low/insufficient btc, e.g. amber/red.

Bonus points for providing a way, at least info, for the address to get more btc.

[2014-10-31 15:53] achamely opened #1075 "RPC connection for broadcasting tx may not be closing propery"
By default mastercore/bitcoin only accept 4 active rpc connections.
We where observing some instances where these 4 connections where getting locked/blocked by process not ending appropriately.   We've increased the number of active connections for mastercore to remove the back-end limitation but this issue is being opened to track/investigate to make sure that the rpc connections for broadcasts c

[2014-10-31 16:26] oktype opened #1076 "Omni sandbox testing wallets"
We need to agree the way we want to give approach to the testing environment.
I would suggest to separate the environments completely and let the user make a testing wallet so he can experience/play with the different features without risking real funds or unintentionally spam the production environment.

We don't want to encourage users to accumulate test tokens, and there is no reason to let use

[2014-11-03 16:16] #887 closed, assigned to nobody

[2014-11-03 21:56] msgilligan opened #1077 "Make SMTP server configurable"
Currently it looks like the SMTP server for Omniwallet-sent email is hardcode to `localhost` in `user_service.py`.

This should be configurable. So should the return address that is used.

[2014-11-03 21:58] msgilligan opened #1078 "Put email messages in template files"
Currently the email messages sent to the user are inline texts in `user_service.py`. They should be in external template files and should be localizable.

[2014-11-04 13:01] derfshaya opened #1080 "Cannot create wallet: "Server Error, try again later""
Tried to create a new wallet on omniwallet.org. I keep getting this message "Server Error, try again later".

Here is the log from developer console: (2 different UUIDs omitted and will be reproduced on request)
init 0 controller.js:251
cleared cache controller.js:13
Failed to load resource: the server responded with a status of 500 (Internal Server Error) https://www.omniwallet.org/v1/user/wallet

[2014-11-05 02:51] #1080 closed, assigned to achamely

[2014-11-05 15:51] achamely opened #1083 "SP creation broken"
Latest update to DB driven code has exposed an issue with the SP creation.

The code that manages/triggers testnet operation is old and running on outdated modules. It needs to be imported / merged into the master code branch and brought up to speed

[2014-11-06 14:23] Nevtep opened #1084 "DEx Phase 2 Sale Page"
I'm working on this.

[2014-11-07 22:53] msgilligan opened #1089 "Remove (or replace/rewrite) status page"
The page `/v1/system/status.html` and the scripts to generate it seem unnecessary.

Do we really need to have Git change logs in a page in the app? The last_block information is no longer valid (perhaps) because of the switch to omni-engine.

I propose removing the page (perhaps adding a redirect or static page explaining how to get the equivalent information.

We can then further simplify or repl

[2014-11-07 23:22] msgilligan opened #1090 "Use uwsgi init.d script for omniwallet"
For beta/staging/production Ubuntu systems, we should consider using the uwsgi init.d scripts for starting/restarting uwsgi and therefore omniwallet.

[2014-11-10 16:25] #921 closed, assigned to nobody

[2014-11-10 16:55] oktype opened #1092 "Token creation"
For documentation reasons
![property_creation_tooltip2](https://cloud.githubusercontent.com/assets/6824303/4979854/67326f80-68fa-11e4-98a5-dd1a953e378a.jpg)

![property_creation_tooltip2_detail1](https://cloud.githubusercontent.com/assets/6824303/4979855/673869bc-68fa-11e4-8103-7691a1255313.jpg)

![property_creation_tooltip2_detail2](https://cloud.githubusercontent.com/assets/6824303/4979856/67490

[2014-11-10 22:04] #1077 closed, assigned to achamely

[2014-11-12 20:12] Nevtep opened #1095 "Critical error with Angular Bootstrap Directives"
Every time we need to add a new directive from angular bootstrap an error related to the template appears in the console. This also currently happens on new wallet creation for the tooltip and progressbar, which won't work until user logs out and relogins, we have some hacks at the wallet overview page that load the templates correctly, but lead to dirty code.

I lost about 3 hours trying to get t

[2014-11-18 15:33] #1083 closed, assigned to achamely

[2014-11-18 15:36] #853 closed, assigned to achamely

[2014-11-18 15:38] #812 closed, assigned to nobody

[2014-11-19 11:18] spacelite opened #1096 "Send To, dropdown list of addresses"
send "To:"  new dropdown list from
own wallets,
or previous saved / watch / labelled addresses.

[2014-11-24 22:26] achamely opened #1100 "Miner fee incorrect on Sell"
Miner fee is being incorrectly submitted to backend processor when creating new sell.
Entered default mining fee of 10000 and the result is being replaced incorrectly.

I] prepare_sell_tx_for_signing: change address is mfmGJgiyX2W43ykhZzP2DgA782L9vKRGeC
[I] prepare_sell_tx_for_signing: from_address is mfmGJgiyX2W43ykhZzP2DgA782L9vKRGeC
[I] prepare_sell_tx_for_signing: total inputs value is 6923680

[2014-11-24 22:32] #1100 closed, assigned to achamely

[2014-12-01 22:19] Nevtep opened #1103 "Armory Offline addresses fails to send with more than 1 input"
When trying to send a tx thet requires more than 1 input the backend fails.

[2014-12-03 00:07] achamely opened #1106 "Homepage Balance checker Issuer"
recent refactor caused homepage balance checker to throw error when not logged in and trying to check balance.

[2014-12-03 00:10] #1106 closed, assigned to achamely

[2014-12-03 15:09] #163 closed, assigned to achamely

[2014-12-03 15:12] #249 closed, assigned to marv-engine

[2014-12-03 15:35] #1055 closed, assigned to achamely

[2014-12-03 15:40] #595 closed, assigned to nobody

[2014-12-03 19:56] #708 closed, assigned to achamely

[2014-12-04 04:42] Nevtep opened #1110 "Rebrand - Homepage"
**Implement New Architecture and restructure controllers**
- Move the HomeCtrl from controller.js into /js/controllers/landing/home.js
- Define the HomeController inside the omniControllers module
- Define a message in the websocket server that returns balances for an address when called.
- Use websocket for balances

**Implement New Design and restructure views**
- Replace "row" tags for proper d

[2014-12-04 04:44] Nevtep opened #1111 "Rebrand - Status Page"
**Implement I18n**
- On api/status.py replace the fixed text with i18n functions.
- Commit messages are git specific and not posible to translate.

**Implement New Design and restructure views**
- Restructure api/status.py html generation to match new layout.

[2014-12-04 04:45] Nevtep opened #1112 "Rebrand - Wallet Overview"
**Implement New Architecture and restructure controllers**
- Have the AssetModelFactory get the asset value internally, listening to "APPRAISER_VALUE_CHANGED" on $rootScope.
- Implement angular-graphs library for the pie chart inside the WalletOverviewController
- Remove AssetsTypesController.js.
- Move WalletAddressesController to /js/controllers/Wallet/AddressListController.js and define it in o

[2014-12-04 04:45] Nevtep opened #1113 "Rebrand - Wallet Addresses"
**Implement New Architecture and restructure controllers**
- Move methods from /js/add_address.js and define it properly at /js/controllers/Wallet/AddressesController.js for actions related to adding addresses.
- Use the rootScope Wallet.addresses and Wallet.assets for the listings and WalletAddressList as the controller (see #1112).
- Implement the ModalManager to displaying the modals for the di

[2014-12-04 04:46] Nevtep opened #1114 "Rebrand - Wallet Assets"
**Implement New Architecture and restructure controllers**
- No specific controller needed for this page. The listing of the wallet Assets can be done using scope variable wallet.assets.
- Links to Assets Details Page, and Smart Property creation pages can be added to the view.
- Routing for the new view should be added to app.js.

**Implement I18n**
- Follow the Architecture document directions t

[2014-12-04 04:46] Nevtep opened #1115 "Rebrand - Wallet History"
**Implement New Architecture and restructure controllers**
- Move WalletHistoryController from WalletController.js into /js/controllers/wallet/HistoryController.js.
- Implement transaction history inside the WalletService
  - Create a .transactions property to contain an array of transaction's data.
  - Fill and update the array as addresses are added and removed from the wallet.
  - Check the API

[2014-12-04 04:47] Nevtep opened #1116 "Rebrand - Wallet Send"
**Implement New Architecture and restructure controllers**
- Remove WalletAssetsFormController, implement rootScope wallet.assets for the currency and addresses listing.
- Remove the TransactionGenerationController and implement the TransactionModel and ModalManager Confirmation dialog for transaction generation.
- Move WalletSendAssetsController from /js/WalletSendAssetsController.js to /js/contr

[2014-12-04 04:48] Nevtep opened #1117 "Rebrand - Smart Property Fixed Issuance"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:49] Nevtep opened #1118 "Rebrand - Smart Property Managed Issuance"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:49] Nevtep opened #1119 "Rebrand - Smart Property Crowdsale Issuance"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:50] Nevtep opened #1120 "Rebrand - Exchange Trade Overview"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:50] Nevtep opened #1121 "Rebrand - Exchange Trade Sell"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:50] Nevtep opened #1122 "Rebrand - Exchange Trade Accept"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:51] Nevtep opened #1123 "Rebrand - Exchange Offers"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:53] Nevtep opened #1124 "Rebrand - Exchange DEx"
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:55] Nevtep opened #1125 "Rebrand - Explorer Overview"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:56] Nevtep opened #1126 "Rebrand - About FAQ"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:56] Nevtep opened #1127 "Rebrand - About Mastercoin"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:57] Nevtep opened #1128 "Rebrand - About Omniwallet"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:57] Nevtep opened #1129 "Rebrand - About Contact"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:57] Nevtep opened #1130 "Rebrand - Account Management"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 04:58] Nevtep opened #1131 "Rebrand - Navigation"
**Implement New Architecture and restructure controllers**
- Refactor the "CTRL" controller into /Landing/SiteController.js
- Have global scope variables defined here to be inherited by all the scopes.

**Implement I18n**
- Change the notification on index

**Implement New Design and restructure views**
- Cleanup index .
- Implement color pallette.
- Remove sidecars.

[2014-12-04 04:58] Nevtep opened #1132 "Rebrand - Modals"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 05:01] Nevtep opened #1133 "Rebrand - Explorer Inspector"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 05:02] Nevtep opened #1134 "Rebrand - Explorer Bookmarks"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 05:02] Nevtep opened #1135 "Rebrand - Explorer Following"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 05:02] Nevtep opened #1136 "Rebrand - Explorer Assets"
Implement New Architecture and restructure controllers - TBD
Implement I18n  - TBD
Implement New Design and restructure views  - TBD

[2014-12-04 14:54] warrenyen opened #1137 "UI Designs"
Here are the latest UI designs (Dec 4, 2014)
![01-home-v1](https://cloud.githubusercontent.com/assets/9848902/5300162/9053303a-7b9b-11e4-9543-174c60c55cb0.png)
![02-home-v2](https://cloud.githubusercontent.com/assets/9848902/5300160/90516fca-7b9b-11e4-9127-762f960c26d3.png)
![03-login](https://cloud.githubusercontent.com/assets/9848902/5300161/9051d744-7b9b-11e4-8d53-623594483461.png)
![04-create-

[2014-12-04 21:37] achamely opened #1139 "Login feedback for incorrect password/uuid stopped working"
After recent refactor the login modal feedback for a bad password or bad uuid has stopped working. The modal just sits and spins endlessly without informing the user.

[2014-12-04 21:37] #1139 closed, assigned to nobody

[2014-12-08 17:40] achamely opened #1142 "Initial balance data takes too long to load"
Websocket module for balance data has an initial lag that can cause wallets to appear empty when loading for first time.

[2014-12-08 21:20] achamely opened #1147 "Nav links (besides Overview) don't function on login after a logout"
When a users logs out but maintains the same window and then attempts to log back in to their wallet all the Nav menu items appear to be broken/unresponsive except the "Overview".  Clicking Overview link first fixes the other links and corrects the problem.

[2014-12-08 21:25] #1142 closed, assigned to nobody

[2014-12-09 01:22] achamely opened #1149 "New tx creation fails when utxo index >256"
User reported issues trying to create a simple send.  Logs showed vin trying to be used was  https://blockchain.info/tx/d1703f37d05beb15161089ef961aa0378c2a017c320e3e57a31ecfa9ab46259f  and index > 256.    hex encoding was failing in this situation

[2014-12-09 01:24] #1149 closed, assigned to achamely

[2014-12-10 23:44] achamely opened #1151 "Account Settings"
Tracking Initial creation of an Account Settings page.

Current Contents will include:
Display of current wallet id,
Ability to change/update/add  email address
Ability to change password
Ability to enable Donations to Developers (use developer pubkey in multisig output)
Ability to set display preference for:
   Displayed currency,
   Filtering of DEx phase 1 tx's that are less than dust limit,

[2014-12-11 22:28] dexX7 opened #1158 "Staging: top navigation overlays content, arrow not aligned"
![topbar](https://cloud.githubusercontent.com/assets/5836089/5403446/6a39491e-818d-11e4-9a40-54a5c2e3f0c3.png)

[2014-12-11 22:56] #1158 closed, assigned to nobody

[2014-12-12 19:20] #1151 closed, assigned to achamely

[2014-12-13 16:08] achamely opened #1160 "Account Creation Invalid Captchya spins forever"
Entering an invalid captchya during account creation returns an error message as expected but the create wallet message is still visible and the modal still thinks its waiting for a success response

[2014-12-15 08:18] msgilligan opened #1161 "Allow email configuration that supports TLS (Amazon SES)"
To work with Amazon SES (for example) it is necessary to make the following call:

[code]

before the call to `smtp.login`. We need a `SMTPUSETLS` option (or equivalent) to call `starttls` otherwise we get the following error:

[code]

[2014-12-15 23:33] msgilligan opened #1162 "Purpose of DOMAIN setting in api/config.py is unclear"
The placeholder line currently says:

[code]

However, this domain is used for the link in the "Welcome" email. The hostname used in the link in the welcome email may be different from the domain in the email return address.

[2014-12-16 05:36] msgilligan opened #1164 "Remove all dependencies on Obelisk; OmniEngine track BTC balances and UTXOs"
Finish the OmniEngine implementation of BTC balance and UTXO tracking so that we can retire the dependency on SX/Obelisk.

(This may be a duplicate, but I searched and couldn't find anything.)

[2014-12-16 05:50] msgilligan opened #1165 "Remove all dependencies on Obelisk; Temporary solution using an existing project."
I'm creating this issue to start a discussion around a temporary alternative to Issue #1164 (OmniEngine implementation of BTC balances and UTXOs)

I spent some time looking at alternative implementations of arbitrary BTC address balance and UTXO tracking. If found two that are worth considering:
1. [Bitpay Insight API](https://github.com/bitpay/insight-api) - uses Node.js and LevelDB
2. [Extended

[2014-12-16 14:24] #849 closed, assigned to nobody

[2014-12-16 14:48] #1161 closed, assigned to msgilligan

[2014-12-17 15:03] #1160 closed, assigned to achamely

[2014-12-17 19:00] #1147 closed, assigned to nobody

[2014-12-18 20:49] marv-engine opened #1178 "Value amount in Send page and confirmation modal should be displayed in the user's chosen currency"
![image](https://cloud.githubusercontent.com/assets/5295796/5495422/8faf9afc-86cb-11e4-9a72-e935c52a0220.png)

![image](https://cloud.githubusercontent.com/assets/5295796/5495593/280dd588-86cd-11e4-9e14-314bcb220fb8.png)

The following items in the Send page and confirmation modal should be based on the user's currency selection:
1. currency symbol
2. amount available
3. value using correct exchan

[2014-12-18 21:06] marv-engine opened #1179 "Send page should display the value field for all currencies for which we have a fiat exchange rate"
![image](https://cloud.githubusercontent.com/assets/5295796/5495706/d84b4188-86cd-11e4-90fc-c06ac5ed8c8f.png)

Currently the value field is displayed only for BTC. If any currency has a fiat exchange rate we should display the value field when that currency is selected for sending.

Don't be fooled by the apparent dollar value for the number of BTC in the screenshot above. The currency is actually

[2014-12-19 16:53] #1178 closed, assigned to achamely

[2014-12-20 20:37] marv-engine opened #1182 "Remove private key address leaves debris"
While on the My Addresses page, I removed a private key address and the following occurred:
1. My Addresses page did not refresh, so the address was still displayed
2. I added the address back in as a watch-only address.
3. I went to the Trade page and clicked "Create new sell offer", the Sell page was pre-populated with the address that was just removed from my wallet and re-added as watch-only.

[2014-12-23 17:02] #1131 closed, assigned to nobody

[2014-12-23 20:32] marv-engine opened #1183 "numbers of tokens with 18 digits are displayed incorrectly"
The error happens in at least a few places:
1. I entered 1234567890.12345678 tokens, e.g. in Send page and Create property with fixed number of tokens. Confirmation modal shows the value as 1234567890.1234567
2. For 1234567890.12345660 tokens, the Send page shows:

Note: check the internal representation as well as what's displayed. It appears the 8th digit value is ignored when checking if the fo

[2014-12-23 23:01] spacelite opened #1184 "altcoins not displayed from coldstorage wallet"
@achamely
when loading a cold storage address, filled with altcoins.... shows MSC, even XAP
none other altcoins were observed to be seen in omniwallet until that cold storage address has been used once to send a micro amount, so it's now shown on the blockchain.
Then omniwallet populated the other coins attached to the address.

This could cause short term panic to someone if an address has been p

[2014-12-24 15:12] marv-engine opened #1185 "User can create a test smart property which doesn't display because the user's setting hides test ecosystem properties"
Currently all smart properties are created by Omniwallet in the test ecosystem and the default account setting is to not display items in the test ecosystem. This can lead to confusion by the user.

The create asset page should at least warn the user if the account setting is to not display test items. It could also provide a button to change the setting.

[2014-12-24 16:27] marv-engine opened #1186 "Display an explanation, with a helpful link, when a user tries to create a tx but has no funds in his wallet"
For instance, the address in a newly created wallet has no btc so the user cannot submit any transactions. OW should gray out such actions and/or provide a helpful explanation about how the user can get enough bitcoins, and MSC, to actually submit a transaction.

Currently, when a user tries to create an SP, the form is displayed but there are no addresses that can be selected as the issuance addr

[2014-12-24 16:32] marv-engine opened #1187 "Provide a link to a source of bitcoins when a wallet is created and whenever the wallet has no bitcoins"
A user who is new to the bitcoin world will have no idea that he needs bitcoins, and maybe MSC, in order to do anything useful with his wallet. This effectively prevents the user from being successful with Omniwallet.

[2014-12-24 17:00] dexX7 opened #1188 "Rename "Support the Developers""
I'm not sure, where the lower output values used on mainnet are coming from, and I was vocal regarding this topic more than once, and if Omni still creates outputs with a value of 0.00011514 BTC, I would consider it as flaw.

But let's jump in the future:

The amounts gained are insignificant. All dust ever sent to Exodus is less than 1 BTC and most of them use "expensive values" where in the futu

[2014-12-30 15:02] #944 closed, assigned to achamely

[2015-01-02 15:32] achamely commented on #1184
@spacelite  Ok, still can't reproduce.    If you get home and can reproduce then let us know and we'll reopen this

[2015-01-02 15:32] #1184 closed

[2015-01-05 07:59] spacelite commented on #1184
Here are those screenshots showing before and after sending.
These are the only coins types that were displayed for days until immediately after sending from the newly created and imported unused address.
![onlycoinsread](https://cloud.githubusercontent.com/assets/6780392/5610503/7e8f9b46-946d-11e4-936b-7c5aa2804988.jpg)
![tru](https://cloud.githubusercontent.com/assets/6780392/5610504/7e98303a-94

[2015-01-07 16:01] m21 opened #1194 "Sign a Text String with a private key in user's OmniWallet"
For token (SP) value transfer from Omni Protocol to another chain the sender must prove they own respective tokens on the Omni Protocol.
They easiest way to do so is to sign some text message with a private key from the wallet. Most node-wallets & web-wallets already do that.
OmniWallet needs to allow that as well -- Adam thought the implementation is a matter of days.
There are at least 2 use cas

[2015-01-07 18:17] dexX7 commented on #1194
Sounds like fun, mind to go into detail?

There are the RPC calls:
[code]

On-chain transactions usally carry proof in form of signed transactions. If the project leader is looking forward to implement @TierNolan's [cross chain protocol](https://github.com/TierNolan/bips/blob/bip4x/bip-atom.mediawiki) or similar, there is actually a cross-chain transaction Bitcoin Core integration:

https://github

[2015-01-14 20:36] achamely commented on #740
Superseded by new UI layout

[2015-01-14 20:36] #740 closed

[2015-01-14 20:38] achamely commented on #1063
Completed in #1066 1066

[2015-01-14 20:38] #1063 closed

[2015-01-16 16:15] #1066 closed

[2015-01-18 17:58] dexX7 opened #1198 "Feature request: "send from here" in address overview"
It would be great, if there were a "send from here" option:

![sendfromhere](https://cloud.githubusercontent.com/assets/5836089/5793443/edfe5ac2-9f43-11e4-8022-b6f73fbca3af.png)

[2015-01-28 16:19] Nevtep commented on #1112
TODO:
assets_list.html needs adjustment

[2015-01-28 16:21] Nevtep commented on #1113
TODO:
- addresses_list.html needs adjustments

[2015-02-01 04:54] Nevtep commented on #1095
I found a posible fix for this, apparently removing
- /bower_components/angular-bootstrap/ui-bootstrap.min.js

and leaving only
-/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js

seems to have cleared the errors away in testnet, and the directives still work

[2015-02-02 21:51] Nevtep commented on #1115
Add Messages for new transactions:
- tx 55 grants,   if its the sender/issuer.  You granted x token names
- tx 55 grants, if its the reciever.  You were granted x tokens names
- tx 56.  you can only ever revoke from your own balance.   so  'You revoked x tokens'
- tx 70,    token name ownership transfered.

[2015-02-02 21:52] Nevtep commented on #1115
Add link to tx explorer

[2015-02-03 21:30] Nevtep commented on #1116
TODO:
Add the modal to edit the miner fee

[2015-02-04 00:11] achamely commented on #908
Resolved with the Data source from db.

[2015-02-04 00:11] #908 closed

[2015-02-04 00:12] achamely commented on #889
Also resolved with datasource updated to db

[2015-02-04 00:12] #889 closed

[2015-02-05 15:08] achamely commented on #1096
Duplicate of #1198 , tracking there.

[2015-02-05 15:08] #1096 closed

[2015-02-05 15:23] achamely commented on #1076
Testnet is the location which should be used for sandbox testing.

[2015-02-05 15:23] #1076 closed

[2015-02-09 16:11] achamely opened #1200 "Direct link to address balance"
Provide a route that directly links to the balance checker/lookup for a specified address.

i.e.  https://www.omniwallet.org/?address=1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P  or similiar.

We should also make this link visible to the user when they lookup an address on the balance checker.

[2015-02-09 17:13] msgilligan opened #1201 "Ability to send coins to an email address or social media account."
We had a discussion this morning about being able to send coins to an email address that is not yet an Omniwallet user. There are some technical and UX issues that must be solved, but we can look at [ChangeTip](https://www.changetip.com) and [Coinapult](https://coinapult.com) for examples.

[2015-02-09 17:43] msgilligan commented on #1201
You can even send coins (say $1 worth) to a Github account, like @marv-engine, via @ChangeTip.

[2015-02-09 17:43] changetip commented on #1201
Hi @marv-engine, @msgilligan sent you a Bitcoin tip worth 4,558 bits ($1.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/449792)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-02-19 23:53] Nevtep opened #1204 "Critical error on Balancehelper.py"
When SX fails to return btc balances, the code has two references to an unbound variable

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gevent/greenlet.py", line 327, in run
    result = self._run(_self.args, *_self.kwargs)
  File "/usr/local/lib/python2.7/dist-packages/socketio/virtsocket.py", line 403, in _receiver_loop
    retval = pkt_ns.process_packet(pkt)

[2015-03-04 19:29] dexX7 opened #1205 "Staging: truncate asset names"
Asset names should be truncated so they don't blow the layout. It appears to affect all views:

Overview:
![truncate_overview](https://cloud.githubusercontent.com/assets/5836089/6491340/da206068-c2ac-11e4-9060-caf4d3f06416.png)

My Addresses:
![truncate_addresses](https://cloud.githubusercontent.com/assets/5836089/6491347/e966fa46-c2ac-11e4-9834-e5ef7b83fc83.png)

My Assets:
![truncate_assets](htt

[2015-03-06 19:39] ripper234 commented on #740
Is there a place to track the new UI progress, since this ticket has been closed?

[2015-03-09 21:33] achamely commented on #740
@ripper234 tracking here:  https://github.com/mastercoin-MSC/omniwallet/milestones/Rebrand

[2015-03-09 21:34] achamely commented on #1205
Nice Catch @dexX7 thanks.  @Nevtep for visibility

[2015-03-12 06:01] ripper234 commented on #740
Thanks. I'll ask more a more specific question:

The homepage is not very friendly. The most prominent element displayed on the homepage is the "Balance Check", and this should be replaced ASAP with _something_.

![image](https://cloud.githubusercontent.com/assets/172282/6612939/e53c12d0-c88d-11e4-81f7-4d44e702e546.png)

I think there was once a ticket open for this specifically. When is this spec

[2015-03-12 06:04] ripper234 opened #1206 "Update copyright notice from 2014 to 2015"
The text at the bottom should be changed.

![image](https://cloud.githubusercontent.com/assets/172282/6612946/10ba5f70-c88e-11e4-94d6-03cfb51fdc41.png)

[2015-03-12 18:18] achamely commented on #1206
After chatting with craig i've updated this accordingly.

[2015-03-12 18:18] #1206 closed

[2015-05-15 01:04] pelekoudas opened #1212 "What happens to the password when a password reset is canceled?"
While in a wallet user enters the password reset dialog. Enters the current password as validation. Then cancels out of the password change. Exits the wallet. Next initiates the login to the same wallet, but unchanged password is not recognized. Result: user is locked out of wallet.

Has this been seen before? I saw nothing in the issues list.

[2015-05-15 18:59] achamely commented on #1212
We've never seen/heard of this before and this should not be the case. The save session/wallet is only called on the success of the dialog.

I just logged in and tried to recreate this and was not able.
Logged in
Went to account settings
Entered password change dialog
Authenticated with old password
Got new password dialog
Canceled new password dialog
Logged out
Logged back in with original passwo

[2015-05-15 19:01] achamely commented on #1212
@pelekoudas  Are you still not able to login with your original password?

[2015-05-19 02:17] eblanshey opened #1213 "https://www.omniwallet.org/assets/snapshots/current.tar.gz does not exist"
Installation instructs to download this file: `wget https://www.omniwallet.org/assets/snapshots/current.tar.gz`. This file doesn't exist though and it redirects to the homepage. Can this be fixed, or someone point me to the new location?

[2015-05-19 13:34] achamely commented on #1213
Mastercoin tools is no longer used for general parsing/downloading of the data. The install instructions on the actually repo have been superceeded by  https://github.com/mastercoin-MSC/omni-devops  (we'll look at updating them this week to reflect the new information).  Please take a look at the omni-devops repo for setup/install instructions

[2015-05-19 13:34] #1213 closed

[2015-05-30 00:17] dexX7 opened #1216 "Staging: custom fee button not working"
When clicking on the custom fee button, nothing happens. This is very unfortunate, because it looks like OmniWallet still creates very pricey transactions per default.

![tx_cost](https://cloud.githubusercontent.com/assets/5836089/7894822/04714fe0-0672-11e5-960e-93f4824d2aac.png)

[2015-05-30 00:17] dexX7 opened #1217 "Staging: missing close icon in send dialog"
It seems like the close button is missing here:

![close_button](https://cloud.githubusercontent.com/assets/5836089/7894796/97a64078-0671-11e5-94e0-577435707cab.png)

[2015-05-30 00:18] dexX7 opened #1218 "Staging: a send isn"confirm" in the UI"
Even though the transaction was actually broadcasted, the view doesn't confirm the send. This may create the impression the send failed, resulting in more than one send.

![no_send_1](https://cloud.githubusercontent.com/assets/5836089/7894777/68802c3c-0671-11e5-8908-2b0a922e663c.png)

After some time a timeout error is shown.

![no_send_2](https://cloud.githubusercontent.com/assets/5836089/7894779

[2015-05-30 00:18] dexX7 opened #1219 "Staging: a send isn't "confirmed" by the UI"
Even though the transaction was actually broadcasted, the view doesn't confirm the send. This may create the impression the send failed, resulting in more than one send.

![no_send_1](https://cloud.githubusercontent.com/assets/5836089/7894777/68802c3c-0671-11e5-8908-2b0a922e663c.png)

After some time a timeout error is shown.

![no_send_2](https://cloud.githubusercontent.com/assets/5836089/7894779

[2015-06-23 22:54] patrickdugan opened #1220 "Consolidate Pull Request for API POST Requests"
Going to need a bit of help from Tomas or Adam to nail down the specific JSON but here are the requests I will need to do dBanking and algo trading:

1) Dex trade - parameters: address, pair (or smart property id 1 and 2), order type, amount, price

Needs to be broken down for the new tx types Zathras did, can someone link a reference?

2) Send to owners - parameters: address, payout currency, rec

[2015-06-30 21:14] achamely commented on #1220
So the short update is that none of these calls/routes exist yet,
Dex trades we have routes for v1 trades but nothing exists yet for v2 calls which will need to be developed based off the final setup of omnicore.

2-5 are not too difficult (they are only minor tweaks on existing calls to create new ones) however I would really like to finish up / get the new UI rolled out so we can roll the new ca

[2015-07-07 22:03] patrickdugan commented on #1220
https://github.com/bitpay/bitcoind-rpc

https://github.com/OmniLayer/omniwallet/blob/master/api/rpcclient.py

Ok we decided I should either modify the index file for Bitpay's .js wrapper to include Omni tx types, or utilize the existing Python client and wrap it into existing .js systems as needed.

[2015-07-07 22:04] #1220 closed

[2015-07-11 16:33] gabesbit opened #1227 "Can't send bitcoins"
Can't send bitcoins from https://www.omniwallet.org
Red error message show up: "Funds could not be sent: Error preparing transaction: global name 'fee_total_satoshi' is not defined"

[2015-07-13 16:57] gabesbit commented on #1227
It works now!

[2015-07-13 16:57] #1227 closed

[2015-07-14 14:34] achamely commented on #1227
Yup, we pushed some patches last friday which added an uninitialized variable that affected the bitcoin sends.  this was fixed in #1228

[2015-07-22 15:11] achamely opened #1230 "potential account creation not saving email"
User reports they signed up and never received welcome email.
Further investigation shows the account creation started and users browser autorefreshed/resubmitted about 40secs later. which seemed to trigger the creation again, this time without email field.

Need to investigate a bit more.

User was using Google Chrome Version 43.0.2357.130 (64-bit) with
Lastpass, Google Voice, Xmarks, and Adblock

[2015-08-04 14:01] jeroenn13 opened #1232 "Funds could not be sent: Error preparing transaction: undefined"
Trying to send Maidsafecoin to another address receiving this error:

Funds could not be sent: Error preparing transaction: undefined

Could you fix it? nobody can send funds away from the omniwallet

[2015-08-18 20:23] achamely commented on #1232
addresses via zendesk

[2015-08-18 20:23] #1232 closed

[2015-10-13 23:03] msgilligan opened #1235 "Distinguish divisible vs. indivisible values with numeric formatting."
Omni Core and (soon) Omni Chest are formatting property balances as follows:

`"##########0.00000000"` -- **divisible**
`"##################0"` -- **indivisible**

[2015-11-12 20:51] achamely opened #1238 "User selectable price source"
From https://forum.safenetwork.io/t/safecoin-price-should-now-be-accurately-displayed-in-omniwallet/5977/17
It would be nice for the wallet to show what exchanges are actually being used to calculate the price.
In Multibit wallet, for example, you can select which exchange to use to calculate price.
Now it's pretty clear that only Poloniex is used but it would be nice to have the option to select

[2015-11-25 12:34] dexX7 opened #1242 "Funds could not be sent: Error preparing transaction: undefined"
A user on [bitcointalk.org reported](https://bitcointalk.org/index.php?topic=558012.msg13063136#msg13063136):

Edit: tried to do to it using different browsers with no plug-ings enabled, no luck.

[2015-11-25 15:46] dexX7 commented on #1242
Appearingly this is a duplicate of #1232, but still unresolved.

[2015-11-29 06:29] zathras-crypto opened #1243 "Unconfirmed Transaction"
Hey guys,  the following was raised via 'Chest's feedback system - it seems to be an OmniWallet enquiry.  Also no contact details were supplied FYI.

[code]

[2015-11-30 12:00] Nevtep commented on #1243
this happened for me too when using 0.0001 miner fee

[2015-11-30 12:02] Nevtep commented on #1242
I've seen this happen when the tx needs multiple inputs for the amount the user is trying to send, the logs should say more

[2015-12-01 22:34] achamely commented on #1242
There was a bug with multiple inputs not being handled correctly (especially when it was more than 9 inputs)  but we rolled out some patches to fix that week before last.
If we can try to coordinate with the user to try again when we can watch the logs it would be beneficial to try and track down the issues

[2015-12-02 06:22] msgilligan commented on #1235
See https://github.com/OmniLayer/omnicore/issues/300.

[2015-12-02 14:23] achamely commented on #1242
Spent some time tracking down the users reported issue this morning. Bug found and fix deployed.

[2015-12-02 14:23] #1242 closed

[2015-12-02 14:23] achamely commented on #1230
fixed with #1240

[2015-12-02 14:23] #1230 closed

[2015-12-02 14:27] achamely commented on #1103
fixed with #1236

[2015-12-02 14:27] #1103 closed

[2015-12-03 23:16] starsoccer opened #1246 "Login issue"
I recently created a wallet using omniwallet. I logged in the first time with no issue. I was then logged out for being AFK for too long. Once coming back and attempting to relogin, I am told that my wallet id/password is wrong even tho it is not.

Based on similar issues from other sites, I think the cause is my 100 character password that includes special characters.

[2015-12-04 14:03] achamely commented on #1246
Hey josh,  this is interesting indeed.  Can you provide the special characters used in your password so that I can try to recreate/track down this bug? You can pm them via skype if you don't want to leave it in a public setting.

[2015-12-17 13:15] chadrickm commented on #1242
Not resolved - Just got this same issue today.

[2015-12-17 13:22] chadrickm opened #1248 "Funds could not be sent: Error preparing transaction: undefined"
I know this is a duplicate ticket ( #1232 , #1242 ) but the others are closed so I'm adding a new one. This happened to me this morning...

[2015-12-17 14:32] chadrickm commented on #1248
And tried it again with this error message:
Funds could not be sent: Transaction rejected by the network. Contact a developer.

One of the folks on Maidsafe forum says it might be a issue with the network being too busy? https://forum.safenetwork.io/t/omniwallet-transaction-issue/6383/6

[2015-12-17 18:33] achamely commented on #1248
Hmm, chad, can you provide the address you where sending from /to so i can check the logs.
If you'd rather email the info use the address on the contact us page of www.omniwallet.org

[2015-12-17 18:38] chadrickm commented on #1248
I was sending from 13vud4dqnm57jYsTYHJ9F4L7taHWGiLETB and I was able to get it to go through by just doing it 3 times in a row. Still, not fun to have to hope that it will work ;)

[2015-12-18 23:03] achamely commented on #1248
Thanks Chad, we identified the issue (bitcoin signing library was using older methods to sign tx's that are no longer allowed on newer network nodes).
We put in a patch that should help until next update to replace the library.  Let us know if it helps

[2016-01-25 20:36] achamely opened #1252 "Add support for keepkey"
User reports to have used keepkey address for receiving omni asset.   Look into adding support for using keepkey.

[2016-01-27 20:48] dexX7 opened #1253 "Use dynamic or custom fees"
We've come at the point where a static fee of 0.0001 BTC can result in very long confirmation times, like 200 minutes, if the transaction to send is large (e.g. due to many inputs) and there are many other unconfirmed transactions pending.

It would be nice, if the actual fee is chosen dynamically.

[2016-02-10 17:39] marvgmail opened #1254 "Token totals on Overview page are off by orders of magnitude"
Take a look at http://screencast.com/t/IPy0iwDHT You'll see that the .55 tokens is shifted 9 places to the left. When there are multiple addresses with tokens, it appears that the values are shifted left multiple times. That's why the amount sometimes shows up as e+24 or a similar value. This is a recent change in behavior.

[2016-02-15 21:55] marvgmail opened #1255 "On staging, My Addresses page shouldn't have a balance summary for each address"
It doesn't make any sense to show a cumulative total amount of all the properties owned by an address, i.e. there's no meaning to the total number of bitcoins plus USDT plus ... belonging to an address. It would be like adding the number of apples plus oranges plus bananas plus ... All it would mean is the total number of "things" owned by the address.

It does make sense to show the cumulative va

[2016-03-02 03:52] ripper234 opened #1256 "Tx are delayed due to full blocks and incorrect fee calculation"
Bitcoin blocks have lately become saturated due to increased tx volume (see the whole Core/Classic debate).

This means that transactions generated by Omniwallet are sometimes stuck for a **long** time because they are paying lower fees that is needed to be included in a block. [See here](https://www.reddit.com/r/btc/comments/48kd7a/how_should_fees_be_calculated/) on how to correctly calculate fee

[2016-03-02 04:13] ripper234 commented on #1256
I think that some "sane heuristic" is probablly best here for now, to give us a bit of breathing room.

The ideal would be a dynamic formula that measures the fullness of latest blocks and predicts how much time on average it would take for a tx to go in one, based on these latest blocks. That's probablly? too much dev right now, so maybe start with a simply heuristic.

[2016-03-02 04:51] msgilligan commented on #1256
Bitcoin Core (and therefor Omni Core) have these calculations built-in and in the Qt interface accessible via a GUI slider. Since Omniwallet is now using Omni Core (mostly) it may be able to access these calculations via an RPC.

[2016-03-02 05:12] zathras-crypto commented on #1256
IIRC a little while back I walked Tomas through using the RPC interface
(estimatefee call) to recommend a fee to the user - perhaps this is only in
staging or pending further work.

Thanks
Z
On Mar 2, 2016 3:51 PM, "Sean Gilligan" <notifications@github.com> wrote:

[2016-03-02 09:02] spacelite commented on #1256
what if you implement a small omni % "tax" that only gets charged on
sending, and also builds into a "float" value, a hidden amount of btc from
that omni account that can reduce any future tax needs.

ps: Hi guys, long time no see. I just got soho set up.

On Tue, Mar 1, 2016 at 9:12 PM, zathras-crypto <notifications@github.com>
wrote:

[2016-03-02 09:42] ripper234 commented on #1256
♥

[2016-03-03 17:29] achamely commented on #1256
Hey @ripper234 . Yes we do have plans to pull the estimatefee from omnicore rpc.  Right not just trying to get the staging rebrand finished merged. Once thats done we'll be able to move through a lot of other pending changes/updates/improvements.

[2016-03-04 01:58] ripper234 commented on #1256
Thanks Adam
On Mar 3, 2016 7:29 PM, "Adam" <notifications@github.com> wrote:

[2016-03-06 04:13] realrover opened #1258 "Can't send funds - "Send Funds" button is stuck"
Tried different browsers, but when I press "send funds" it shows "waiting" gif and nothing happens. Window remains open. Please help!

[2016-03-06 14:37] federicoon commented on #1258
Same to me! This is a severe issue, please give us some feedback asap!

[2016-03-07 03:22] cfp23 commented on #1258
Ditto. I am having the same issues and have tried Chrome and Firefox. Have even tried varying amounts of tx fees.

[2016-03-07 16:37] achamely commented on #1258
Hey Folks ( @realrover @federicoon @cfp23 ),

Please close all your chrome browser's (even reboot if possible) and then open 1 fresh/clean new browser. (If this is not possible then please open a new chrome browser in incognito mode)

Before navigating to any page open the developer console and go to the '**console**' tab and make sure '**Preserve log**' option is checked.
 (developer.chrome.com/d

[2016-03-07 17:31] federicoon commented on #1258
What about this:
`TypeError: parseScript is not a function
    at $scope.TxPromise.then.$modalScope.sendError (TransactionGenerationController.js:31)
    at wrappedCallback (angular.js:11659)
    at wrappedCallback (angular.js:11659)
    at angular.js:11745
    at Scope.$eval (angular.js:12788)
    at Scope.$digest (angular.js:12600)
    at Scope.$apply (angular.js:12892)
    at done (angular.js:8

[2016-03-07 17:37] Verve435 commented on #1258
Same issue. Just gets stuck when I click send. Tried firefox and chrome. Mailed you, hope this is fixed soon.

[2016-03-07 20:14] achamely commented on #1258
Thanks guys, we are looking into it now.
Can you do one more thing.
If possible, Can you let us know what version of chrome you are using and what os .

[2016-03-07 20:23] Verve435 commented on #1258
Chrome Version 49.0.2623.75 m

Win 7 64bit

Cheers

________________________________
From: Adam <notifications@github.com>
Sent: 07 March 2016 20:14
To: OmniLayer/omniwallet
Cc: Verve435
Subject: Re: [omniwallet] Can't send funds - "Send Funds" button is stuck (#1258)

Thanks guys, we are looking into it now.
Can you do one more thing.
If possible, Can you let us know what version of chrome you ar

[2016-03-07 21:05] realrover commented on #1258
Version 49.0.2623.75 (64-bit)
Ubuntu 15.10

[2016-03-07 21:44] achamely commented on #1258
And there it is, confirmed the issue was introduced with Chrome Version 49.0.2623.75 (64-bit)
Tests on Chrome Version 48.0.2564.116 m  do not exhibit the same issue.

Working on tracking down what's changed and fix it.

[2016-03-07 22:08] achamely commented on #1258
OK guys, i think i've got a patch in place now.  Looks like the new update to chrome changed the way it interprets some function declarations. I had to move some around to get it to recognize them.   Try and see if the issue is resolved now.

[2016-03-07 22:15] realrover commented on #1258
OK, Chrome works now for me. But the same problem was with Firefox. I didn't check it now however.

[2016-03-07 22:15] Verve435 commented on #1258
Tried but still the same prob.

[2016-03-07 22:17] achamely commented on #1258
Yes Firefox seems to have an issue where it can't interpret the signing library we use to finish the transaction.
@realrover for now please use chrome.
@Verve435   which browser did you use/try.  Chrome or firefox?

[2016-03-07 22:17] Verve435 commented on #1258
Works on chrome, thanks!
Still not working on firefox.

[2016-03-07 22:20] achamely commented on #1248
fixed with #1249

[2016-03-07 22:20] #1248 closed

[2016-03-07 22:20] achamely commented on #1258
Ok great.  We are working on the firefox related issue,  that will take some more time as it's related to an issue with the signing library.  For now i'm going to mark this bug resolved with #1259 and track firefox specific one separate.

[2016-03-07 22:20] #1258 closed

[2016-03-07 22:21] achamely opened #1260 "Update signing library to more recent version"
Existing signing library is a deprecated fork of the upstream. Need to coordinate changing over the code to support the upstream library so we can properly update the library to support proper signing of the final tx's

[2016-04-04 22:51] msgilligan commented on #1235
@achamely Any progress or further thoughts on this issue?

[2016-04-07 18:21] achamely commented on #1235
@msgilligan staging omniwallet is doing this

[2016-04-22 22:08] Skyrik26 opened #1286 "Error preparing transaction"
Cann't send my funds (MAID) always this error :Error preparing transaction

[2016-04-23 07:14] #1286 closed

[2016-05-02 01:13] msgilligan opened #1287 "Add watch-only export of wallet addresses"
It would be nice to be able to export wallet addresses via the REST API. This would allow mobile or desktop clients to monitor wallet balances without downloading private keys.

[2016-05-02 01:15] msgilligan opened #1288 "GET URL for Omniwallet balance check"
It would be nice to be able to create a hyperlink to a balance check **HTML page** for display in a  browser for a particular address.

For example: https://www.omniwallet.org/balancecheck/1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P

OmniExplorer supports this with URLs like the following:

http://omniexplorer.info/lookupadd.aspx?address=1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P

[2016-05-02 04:58] zathras-crypto commented on #1288
Hey Sean,

Just a quickie mate - if it helps - no need to load a page, you can just call the API.  Here are some popular calls, but there are many more - just shout if you're looking for something specific.

Hope your work on OmniPortfolio is going well :)

Thanks
Z

Retrieve balance:
http://omnichest.info/ask.aspx?api=balance&address=1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P&prop=1

Retrieve reserved ba

[2016-05-02 05:15] msgilligan commented on #1288
In this case I'm actually looking for a page to open in a browser window.

[2016-05-02 05:16] zathras-crypto commented on #1288
Ahh I see, in that case please disregard :)

[2016-05-16 14:34] xema2110 commented on #1184
hello achamely. in my wallet I have created a altcoins and I can not see the funds in your wallet hybrid can you help?

http://omnichest.info/lookupadd.aspx?address=14X8b6rmcxCfbPETxjKAGaAkTsuwj3bGeP

[2016-05-17 19:00] achamely commented on #1184
@xema2110 your created coins are in the test ecosystem.  By default the wallet hides test ecosystem properties. You can enable them in the wallet settings for your wallet. In the future it would be better if you used the contact us email on omniwallet or opened a new issue instead of commenting on an old/closed issue.

[2016-05-21 11:58] dallyshalla opened #1291 "An example how to use this call"
Get a page of transaction & offer information

HTTP GET /v1/transaction/general/{Currency}_{4 digit page}.json Returns:

Can provide an example of a url call to get a page of the transactions?

[2016-05-24 09:14] yuvadm opened #1293 "Send transaction not working"
Creating a send transaction doesn't work at all.

On Firefox - a popup shows up in the top left corner "please enter a number."
On Chrome - console error `An invalid form control with name='amount' is not focusable.`

[2016-05-25 08:08] msgilligan commented on #1287
@adam @CraigSellars I updated this issue for the use case that would be most helpful for **OmniPortfolio**

[2016-05-31 22:33] achamely commented on #1291
at the moment the call is being refactored and the documentation doesn't match well.

You can use the current call (https://www.omniwallet.org/v1/transaction/general/)  which returns the last 10 transactions

[2016-05-31 22:33] #1291 closed

[2016-05-31 22:34] achamely commented on #1293
@yuvadm   this error has since been corrected. Please try again

[2016-05-31 22:34] #1293 closed

[2016-06-08 22:06] adv0r opened #1296 "Transaction stuck for 48 hours now"
Hi,
I am writing here because I didn't received any reply via the helpdesk and no-one was online on hipchat for long time.

I opened up my wallet after long time ( id : 7ddf1380-4154-48f3-be10-70929b78a159 ) , and sent some MaidSafeCoin ...

TX is not accepted (unconfirmed)  :

https://blockchain.info/tx/64a47daaf04297c8721180d43d4925ae8a39cd5d196d77d73607824abea4651e

Can you ack that you receive

[2016-08-14 01:39] MontyKirkman opened #1314 "Maidsafe coins sent to Omni then sent to Electrum 2fa addresses, cannot be sent back to Omni"
I've raised this issue with help desk and someone is working on it but I thought I should mention here as well.

I used 2fa with Electrum thinking it would help with security, but it's turned into a nightmare. I've been trying to get my MAID and Synereo off Omni for 14 hours straight but with no luck.

I sent MAID coins from Exchange to Omni then on sent them to Electrum 2fa account.  When returni

[2016-08-14 20:21] MrKaneF commented on #1314
I have the exact same problem. All of my maid is locked in a P2SH address on electrum. It is getting very disheartening with the prospect all of my maid might be all locked up.

[2016-08-14 21:58] zathras-crypto commented on #1314
Hi,

I'm sorry to hear you haven't have a great experience, however the Electrum wallet does not support Omni tokens, so there is not too much support we can provide for using Electrum with Omni.

Omni tokens require an "Omni-aware" wallet, of which Electrum is not one.

This is a multi-signature address.  Electrum's 2FA wallets are multisig wallets where the other key is held by a company called

[2016-08-14 21:59] zathras-crypto commented on #1314
![image](https://cloud.githubusercontent.com/assets/5633351/17652393/363c179a-62be-11e6-94c7-2f850ae695f7.png)

[2016-08-14 22:00] MontyKirkman commented on #1314
Hey MrKaneF, I assume you've lodged a ticket.  Have you had a response back yet?  This problem is going to catch a lot of Omni users out I'm afraid.  It's a real gotcha.  I really hope the fix is easy enough.  I didn't realise the problem until MAID spiked the other day and I though I should liquidate a few and have some on hand to convert to Safe coins

[2016-08-14 22:04] MrKaneF commented on #1314
I have opened a ticket but have not received a response yet. Looks like our best bet is to trying to create a raw transaction with omnicore and sign that transaction in electrum.

[2016-08-14 22:04] MontyKirkman commented on #1314
Can you let us know what Omni aware wallets there are out there?
Cheers

[2016-08-14 22:07] MontyKirkman commented on #1314
I'm not a programmer, so I guess this is easy enough to do.  Will a Omni dev need to do this for us, or is it something we can do?

[2016-08-14 22:07] MrKaneF commented on #1314
I will post here if it works or not.

[2016-08-14 22:09] MrKaneF commented on #1314
if you install omnicore it looks like there is an option to create a raw transaction where you can specify which omni asset you want to send by id, it is all by command line though. We would be able to sign that transaction in electrum(hopefully)

[2016-08-14 22:11] MontyKirkman commented on #1314
Well, I sincerely hope it works.  I have my fingers crossed...for you and me :)

[2016-08-14 22:34] zathras-crypto commented on #1314
The foundation sponsored wallets are OmniWallet (web) and our reference client OmniCore (server/desktop).  There are quite a few other services & exchanges that support the Omni Layer technology & ecosystem, but we do not expressly endorse.

The raw transactions interface is CLI only yes, and is targeted for advanced users.  Omni devs can assist, but it's not recommended you let some person on the

[2016-08-14 22:43] MontyKirkman commented on #1314
Ok, So I install reference client Omnicore  server/desktop and run this from within it?

[2016-08-14 22:45] MrKaneF commented on #1314
@zathras-crypto

In omnicore-cli is there any way to create a raw transaction without connecting to an rpc? None of the commands are working without an rpc.

[2016-08-14 22:48] MrKaneF commented on #1314
Just trying to create a raw transaction that can be imported into electrum for signing.

[2016-08-14 22:51] MrKaneF commented on #1314
omnicore-cli "omni_send" appears to be what we want because it specifies "from address" "to address" and a property id but it looks like it is only for use with the omnicore gui wallet itself.

[2016-08-14 22:51] MrKaneF commented on #1314
Never mind i think i got it....

[2016-08-14 22:52] MontyKirkman commented on #1314
@MrKaneF I'm so damn lucky a dev has the same problem as me.  I'm so lost it's not funny....

[2016-08-14 22:57] MrKaneF commented on #1314
Ya, it's interesting working through the omnicore docs. I haven't created a raw transaction in a while...

[2016-08-14 23:03] zathras-crypto commented on #1314
I'm afraid not.  The API is exposed via RPC.  There is a CLI RPC client (omnicore-cli) included with the package.

``omni_send`` RPC is a wallet call, and can only be made when the key(s) for the sending address are in the wallet.

Rough steps (I've asked a colleague if we have an existing how-to, but for now):

1) Send a 10K satoshi output to ``sendingaddress``.  Note the txid & vout of this outp

[2016-08-14 23:06] MontyKirkman commented on #1314
Yikes! that all looks like fun.  I guess if I want my MAID and AMP back I'm going to have to learn real fast what it all means :)

[2016-08-14 23:21] MrKaneF commented on #1314
I unfortunately can't sync the entire bitcoin blockchain to be able to interact with the RPC-API , so I am not sure what other options i have :/ I should have never created a 2fa electrum wallet.

[2016-08-14 23:25] MontyKirkman commented on #1314
I'm with you there. So its not possible to sink the bitcoin blockchain?

On 15/08/2016 11:21 AM, "MrKaneF" <notifications@github.com> wrote:

[2016-08-14 23:28] MrKaneF commented on #1314
I just don't have enough space on my computer for 70+ gigabytes to store the blockchain just to create a raw transaction. You will be able to though if you have the space.

[2016-08-14 23:32] MontyKirkman commented on #1314
Ok..well I have a 2TB empty drive. So I can use that. Are the instructions
above the correct way to go?

On 15/08/2016 11:28 AM, "MrKaneF" <notifications@github.com> wrote:

[2016-08-14 23:33] MrKaneF commented on #1314
Ya those are correct.

[2016-08-14 23:48] zathras-crypto commented on #1314
If performance is an issue (it's slow because it's downloading/verifying the chain) just disconnect from your network while you create the raw tx.

[2016-08-14 23:51] MrKaneF commented on #1314
I just keep getting an "error: couldn't connect to server" when trying to execute the commands.

[2016-08-14 23:52] MontyKirkman commented on #1314
@zathras-crypto
Thanks for your help on this one.  It's not going to be easy for me, but at least it's away out of this mess :)

[2016-08-14 23:53] MrKaneF commented on #1314
Or i just get a bitcoin.conf error :/

[2016-08-14 23:56] zathras-crypto commented on #1314
You'll need a basic bitcoin.conf with a rpcuser & rpcpassword in it to use Omni Core.  If you have problems getting it running I'm happy to help.

No problems.  Of course we could just create these transactions for you and give them to you to sign, but I don't want to encourage folks to blindly sign transactions from people they don't know (who knows where the funds were being sent) so I'd rather

[2016-08-15 00:00] MrKaneF commented on #1314
Even with an rpcuser and rpc password in the bitcoin.conf file i just keep getting a "couldn't connect to server" error.

[2016-08-15 00:01] MrKaneF commented on #1314
ok i got it working

[2016-08-15 00:02] MrKaneF commented on #1314
No errors so far :)

[2016-08-15 00:10] MontyKirkman commented on #1314
@MrKaneF
Whooo hooo....did you have to disconnect from the network as suggested to get things working?

[2016-08-15 00:14] MontyKirkman commented on #1314
Yes, I understand.  Is there no way you could do this safely?  I just know there are going to be others caught out with this who have no technical ability at all.  I'm almost in that category but I think I can struggle through this one with a bit of help.

[2016-08-15 00:29] MrKaneF commented on #1314
Well I can actually interact with the RPC-API so that's nice. I'll keep updating my status.

[2016-08-15 01:04] zathras-crypto commented on #1314
There is no way to do it "safely" - it's never safe to sign a transaction from someone you don't know unless you are going to first verify it yourself (to check what the transaction does).  This is actually why I put a stop to the "Transaction Builder" stuff we were doing on OmniChest.info.

To be honest it's a scenario we see quite often (folks sending tokens to unsupported wallets - whether it b

[2016-08-15 01:29] MrKaneF commented on #1314
I am trying to create a payload, but when i input a 3 for the property id i get an error "Property identifier does not exist."

[2016-08-15 01:30] MontyKirkman commented on #1314
@zathras-crypto
That's fine.  I have to keep reminding myself just how new this space is and to expect the unexpected.

[2016-08-15 01:56] MrKaneF commented on #1314
The only property ids that i have tested that work are 1 and 2 but maidsafe is property id 3 and that does not work:/

[2016-08-15 02:01] zathras-crypto commented on #1314
Ahh of course, the call is making a check and since we haven't synced up the blockchain as far as the state is concerned property 3 hasn't been created yet.

The payloads can be created manually, can you advise on the amount you want to include in the payload?

@dexX7 perhaps we should remove state checks from the ``omni_createpayload`` calls?  What do you think?

[2016-08-15 02:05] MrKaneF commented on #1314
I would like to make a test transaction first of 10 maid then if that works send the rest of the maid.

[2016-08-15 02:08] MrKaneF commented on #1314
So i will need a payload for 12250 maid also ;)

[2016-08-15 02:10] zathras-crypto commented on #1314
Payload for prop 3 & amount of 10 is ``0000000000000003000000000000000a``.
Payload for prop 3 & amount of 12250 is ``00000000000000030000000000002fda``

Please remember to run the prepared transaction through ``omni_decodetransaction`` before signing to make sure you're happy with what it's going to do.

Note also as the chain isn't synced you may need to supply a blockheight (use 425000 will be f

[2016-08-15 02:11] MrKaneF commented on #1314
Thanks a lot man. Never ever forget to decode a raw transaction before signing it ;)

[2016-08-15 02:22] MontyKirkman commented on #1314
@zathras-crypto

Could you do a payload prop for 82905 MAID.  I have 82915, so I'll do 10 first then the rest. So for the first 10 units I use this  0000000000000003000000000000000a right?

I also have Synereo as well (AMP) 53344, So I'll need a Payload for prop 39 for 10 units then another for the rest 53334

Have I just asked for the correct info for my wallet?

[2016-08-15 02:25] MrKaneF commented on #1314
@zathras-crypto I am currently trying to decode the transaction but it returns an error: "Not a Master Protocol transaction" so then I input the blockheight for 425000, but it appears the "prevtxs" parameter is taking the integer but is expecting a string. I tried using the default prevtxs parameter but still no luck.

[2016-08-15 02:33] MrKaneF commented on #1314
ok i fixed the parameter issue, now i just get a "Not a Master Protocol transaction" error. Here is the raw transaction hex: "010000000159a794f6e940e2ea7e32971631428ab9bc21e388f133d9b3abec0ee90b68229a0000000000ffffffff020000000000000000166a146f6d6e690000000000000003000000000000000aaa0a0000000000001976a9145e34a4cda23cd59f9af60d88356609cf1f9941aa88ac00000000"

[2016-08-15 02:36] zathras-crypto commented on #1314
Ahh, to supply the block height we need to supply a null set of prev txs IIRC.

This must be an issue with decoding without a synced chain - thanks for the report we'll spin this up and debug it.

In the mean time, your raw hex decodes to:

[code]

[2016-08-15 02:38] zathras-crypto commented on #1314
Yep, and the payload for prop 3 & 82905 tokens is ``000000000000000300000000000143d9``.

Payload for prop 39 and amount of 10 is ``0000000000000027000000000000000a``.
Payload for prop 39 and amount of 53344 is ``0000000000000027000000000000d060``.

[2016-08-15 02:45] MrKaneF commented on #1314
Inputing the transaction json into the electrum raw transaction form I get an error "Electrum was unable to parse your transaction" so maybe even after all that it still may not work :/ I'll try fiddling with the json and see if it yields any results.

[2016-08-15 02:49] zathras-crypto commented on #1314
Ugh :(  Well it is just a plain Bitcoin transaction, for example you can pump that hex into https://blockchain.info/decode-tx to check.  I can't speak to what Electrum will/won't sign though I'm afraid.

Another option may be to import the Electrum keys into Omni Core's wallet temporarily, and then delete the wallet.dat file afterwards.  My understanding of Electrum 2FA is that you have two keys a

[2016-08-15 02:59] MrKaneF commented on #1314
Currently i own all the private keys to the address i just forgot the wallet was even a 2fa wallet to be honest i haven't used the 2fa feature in a long time. I made the wallet a couple years ago. The problem with importing it to omniwallet is it only takes one private key where as my address has two private keys so it does not even try to import the keys.

[2016-08-15 03:02] MrKaneF commented on #1314
I thought there would have been a way to import the two private keys into omniwallet but the site refuses to take two keys in the private key field.

[2016-08-15 03:09] MrKaneF commented on #1314
Decoding the hex in blockchain.info stills yields an error in electrum unfortunately. Regardless of what happens @zathras-crypto I greatly appreciate the time and effort you have put in to helping try to solve this problem. :)

[2016-08-15 03:13] zathras-crypto commented on #1314
I don't believe Omni Wallet has support for multiple keys as yet.

Can you import them into Omni Core temporarily (``importprivkey``), the sign (``signrawtransaction``), then destroy the wallet file from Omni Core (``wallet.dat``)?

[2016-08-15 03:14] zathras-crypto commented on #1314
Any time :)

[2016-08-15 03:15] MrKaneF commented on #1314
I'll try that

[2016-08-15 03:17] MontyKirkman commented on #1314
@zathras-crypto

So worst case scenario is this maybe available from omni in the future?

[2016-08-15 03:19] zathras-crypto commented on #1314
I'll raise it with the OmniWallet devs at our next meeting (a little under 48 hours), but I don't see why it wouldn't be feasible.

[2016-08-15 03:33] MrKaneF commented on #1314
I am not having much luck with that unfortunately. Hopefully Omni Wallet will have support for multiple private keys in the future and I'll be able to retrieve my maidsafe.

[2016-08-15 03:40] MontyKirkman commented on #1314
@MrKaneF
Yep, that's too bad.  I'm glad someone with your skill level had a go at this first.  I'm sure Omni will have 2FA in the future.  I just hope it's sooner rather than later and our MAID goes up 100 times while we wait :)

[2016-08-15 03:57] MrKaneF commented on #1314
@zathras-crypto You bringing up our multiple private key issue and possible implementations for Omni Wallet at your next dev meeting would be awesome.

@MontyKirkman That would be nice wouldn't it :)

[2016-08-15 04:19] zathras-crypto commented on #1314
@MrKaneF sorry to hear you didn't have success - perhaps we'll model this internally (send some test tokens to an Electrum 2FA wallet & then publish a how-to on retrieval).

I'll definitely raise this at the next meeting and will drop a note here with feedback.

[2016-08-15 04:21] MontyKirkman commented on #1314
@zathras-crypto
You're a good man zathras-crypto.  Thanks for your assistance to date.  It's been awesome.

[2016-08-15 04:32] MrKaneF commented on #1314
@zathras-crypto Truly you have been an incredible help. Hopefully this can be resolved. Thanks again.

[2016-08-16 13:44] achamely commented on #1314
Hey guys, yes we are looking into both 2fa as well as multisig support within Omniwallet.

I was also researching the electrum signing issue and came across a bug report to the electrum dev. Looks like its a known issue (https://github.com/spesmilo/electrum/issues/1811) that electrum has some issues signing raw tx's from other sources.

[2016-08-17 11:59] dexX7 commented on #1314
@zathras-crypto: I agree, we should remove the `RequireExistingProperty` checks for the payload creation API, given that definitely should work with an unsynced client.

It should work either way, but for me it also doesn't work with an unsynced client:

[code]
[code]
... while it works with a synced client:

[code]

[2016-08-18 05:38] zathras-crypto commented on #1314
Thanks guys.

@MontyKirkman @MrKaneF - Adam is lead on OmniWallet and as you can see above says they'll be looking into multisig so hopefully when that's ready it'll provide an avenue for you guys to retrieve your tokens without so much manual tinkering as my suggestions above.

@dexX7 OK sounds great, I'll submit a PR to remove those checks.

[2016-08-18 15:50] MrKaneF commented on #1314
@zathras-crypto @dexX7 Hey good to hear from you guys. What kind of timeline would we be looking at for this issue being fixed?

[2016-08-18 18:48] achamely commented on #1314
@MontyKirkman @MrKaneF

It will be a while before native support will be in Omniwallet. However I think i have a workaround that might work for you guys right now.

1. Open Electrum and go to 'File->New/Restore'. Give the wallet a name like OmniOfflineRecovery or something
1. When it asks you what type of wallet choose' Restore a wallet or import keys' and wallet kind: "Standard Wallet"
1. Enter a

[2016-08-18 23:05] MontyKirkman commented on #1314
@MrKaneF @achamely

GULP!.... @MrKaneF can you let me know if this works for you before I attempt it :)

Thanks Adam, I have my fingers and toes crossed

[2016-08-19 00:41] BitKralj commented on #1314
Hi guys,
I'm having a similar problem with Electrum 2fa multisig address and omni wallet. And I would be really glad if someone could help me.

So, few months ago I invested few bitcoins in Project Decorum (PDC) crowdsale http://www.project-decorum.com/crowdsale/
The deal was that after the crowdsale we would import our btc private key to the omniwallet and than we would get those PDC tokens back

[2016-08-19 05:07] zathras-crypto commented on #1314
@achamely please note Class C (OP_RETURN) has a fallback of highest vout for recipient selection, so if the change is not being sent back to sender your instructions may result in a tx that sends the tokens to a change address (which is still owned by the user so shouldn't result in loss of funds).  When in doubt, stick the reference address as the highest vout :)

@BitKralj if you have enough key

[2016-08-19 09:11] MontyKirkman commented on #1314
Hi Adam,

When I went to broadcast, this is what came up (see attached screen shots).  I did it twice with the same result.  Anything else I can try?  I could do a full screen shot of every step I take if you like?

From: Adam [mailto:notifications@github.com]
Sent: Friday, August 19, 2016 6:49 AM
To: OmniLayer/omniwallet <omniwallet@noreply.github.com>
Cc: MontyKirkman <monty.kirkman@gmail.com>;

[2016-08-19 14:39] achamely commented on #1314
@MontyKirkman unfortunately when you reply to the email / github thread with an attachment it does not seem to include your attachment.
Can you attach it manually to the github post here : https://github.com/OmniLayer/omniwallet/issues/1314

@zathras-crypto Good point. The instructions i provided should only have created a tx which used the sending address as the change address but i've updated/tw

[2016-08-19 14:41] MrKaneF commented on #1314
@MontyKirkman I am going to try those instructions right now.
@achamely Thanks for the in-depth write up for the instructions.

[2016-08-19 22:42] MontyKirkman commented on #1314
Just thinking out loud, but maybe the error code I get is something to do with the Electrum 2FA wallet trying to authenticate through trusted coin?

Here is an email from Lucas Ryan at trusted coin.

OmniWallet does not appear to support multisig.  However, as far as I can tell (although I haven't read the entire OmniLayer spec) the OmniLayer protocol does support multisig so it is in theory possi

[2016-08-19 23:01] MontyKirkman commented on #1314
@achamely
Would it help if I posted here (or sent to you) an address with only 2 MAID in and the two Private Keys to that address.  I've replicated what I did with my main address that holds all my MAID & Synereo

[2016-08-20 00:02] dexX7 commented on #1314
If I'm not mistaken, this error is returned, if not all necessary parties signed the multisig transaction (e.g. only 1 of 2).

[2016-08-20 00:40] MontyKirkman commented on #1314
@dexX7 Yes I was thinking along the same lines.  I have restored my electrum wallet from seed which shows both private keys for each address but I think the tx is only being signed by one of the keys, which maybe the problem?

[2016-08-21 10:42] MontyKirkman commented on #1314
Tried with 10 Synereo.  This time when I hit the broadcast button no error message came up.  It just looked like it went, however, no confirmation.  So it appears nothing happened.  I've saved the unsigned and signed tx's for review if that helps?

[2016-08-21 11:07] dexX7 commented on #1314
@MontyKirkman: would you mind posting the signed transaction? I assume you want it to confirm anyway.

[2016-08-21 17:25] ForestCoin opened #1315 "my omniwallet is wrong"
assertion failed!
program：D\omin\omni core\omnicore-qt.exe
file:main.cpp,Line1671
Exression:hashPrevBlock == view.GetBestBlock()

[2016-08-21 19:00] MrKaneF commented on #1314
Hey guys sorry for my absence over the last couple of days. When I put the payload in an address field like step 16 says when i proceed to step 21 and clicking submit I get a one or more input or output is invalid message. How did you do it @MontyKirkman

[2016-08-21 19:06] MrKaneF commented on #1314
It seems to only be complaining about the hex and i have the op_return checked in advanced options.

[2016-08-21 19:07] MrKaneF commented on #1314
Nevermind i had a space before the hex *face palm*

[2016-08-21 19:23] MrKaneF commented on #1314
@dexX7 i got the same error as @MontyKirkman I can post the signed tx if you want.

[2016-08-21 19:25] MrKaneF commented on #1314
Here is the signed transaction hex: 0100000005712427afd96ab02cbe584eb5214a5c39d411f342ff0328408d48478f438e2e0e020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff87cf48e69c886f698ae51f4584663cab35cf4889d50d9c9cb266f7985d8f701d020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff73079c5561f3dfbad632a48e8ef3df9b14723986157fedb4b0577361f896bc38020000001901ff16fd05c4f61e

[2016-08-21 20:47] MontyKirkman commented on #1314
This one is the signed transaction hex for 10 synereo

01000000051fa19a41c459ec7b6ad79facd0dfca987890b7db27464fd15e66a7c23a1c7b2e010000006a47304402201958a77eaaab8208740b2756e7578c8744b996ad81e8627dccc3a7d4294306e6022076bb8fcda80cf861349c3a08dd2efe58bcf222423480c58c50e53e1a7993ee5c012102b1c03a598589c182e212b46cdd7b8ff32f8ba7e4b0ba0a95f5731e121568a875ffffffff9dad45424decbe85037899d50267eabc53ca82299

[2016-08-22 08:59] dexX7 commented on #1315
Did you use Bitcoin Core before, and if so, which version?

[2016-08-22 15:56] ForestCoin commented on #1315
No, I don't use bitecoin core.   I use omnicore-0.0.11.1-rel-win64-setup on my server!

[2016-08-22 15:58] ForestCoin commented on #1315
My wallet has been unable to synchronize on the server. Always prompt
assertion failed!
program：D\omin\omni core\omnicore-qt.exe
file:main.cpp,Line1671
Exression:hashPrevBlock == view.GetBestBlock()

[2016-08-22 18:12] dexX7 commented on #1315
I asked, because with Bitcoin Core 0.12+ the database is obfuscated, and not necessarily compatible with Omni Core.

The error you posted indicates your block database got corrupted. Reindexing should resolve the issue.

Please open a command line (press Windows key + R, then enter cmd, hit enter) and type in the following command:

[code]

This command will start Omni Core and reindex the databas

[2016-08-22 20:46] MontyKirkman commented on #1314
So, anyone have any luck with this?

[2016-08-22 21:58] achamely commented on #1314
Hey guys,  @MontyKirkman it looks like yours is signed and ready. Not sure why electrum is giving an issue you can try broadcasting it manually on https://coinb.in/#broadcast  or http://blockr.io/tx/push and see if that gives you any additional feedback/success?

@MrKaneF your's does not appear to be signed

[2016-08-22 22:04] MontyKirkman commented on #1314
Damn!  Came up with the same error

[2016-08-22 22:06] MontyKirkman commented on #1314
http://blockr.io/tx/push
There was an error pushing your transaction to network!

Did you sign your transaction? Is this double spend? Have you already sent this transaction?

[2016-08-22 22:31] zathras-crypto commented on #1314
This usually means that not all required signatures are present.  For example only one signature on a mutlisig input that requires 2 out of 3 signatures.

Have you recovered the second private key from seed?  From the email from Lucas it seems Electrum use a 2 of 3 P2SH address where:
* one key is held locally in the wallet
* one key is held at Trusted Coin
* one key is recoverable from the seed

[2016-08-23 00:05] MontyKirkman commented on #1314
This is the same tx signed with the wallet recovered from seed (which has 2 private keys)  I still think the problem is that electrum has only been configured to sign with one of the private keys and not both when setup in a 2FA configuration.

01000000051fa19a41c459ec7b6ad79facd0dfca987890b7db27464fd15e66a7c23a1c7b2e010000006a473044022100f432e4ef158354b1e125c21c10cb63761c668adce7cd5865e5dc440a688

[2016-08-23 01:16] MontyKirkman commented on #1314
@zathras-crypto @achamely Hey guys, could I have a payload for 2 MAID.  I have another wallet that I've replicated this problem with and I want to try a few things without jeopardizing my main wallet.

[2016-08-23 06:09] ForestCoin commented on #1315
Thank you very much

[2016-08-23 06:10] MrKaneF commented on #1314
@achamely Hey I get the same errors as @MontyKirkman unfortunately. The transaction is signed according to coinb.in. I also have access to both private keys, not sure why electrum would only be signing with 1 of the 2 keys when I don't even use TrustedCoin :/

[2016-08-23 06:14] ForestCoin commented on #1315
I  want to get omni and synereo to China's echange, the virtual currency trading platform. omni use wallet like bitecoin api ?  but synereo Jjust on the Omni token don't have wallet,how to do that?

[2016-08-23 07:07] MontyKirkman commented on #1314
@MrKaneF When you set up 2FA with Electrum Trusted coin is used by default in the background as the third key that signs your transaction.  If we can sign the transaction with our second key we don't need them.  I'm going to play around with setting up a couple of Electrum multisig wallets 2-2 and see if I can't get one of the keys into the other wallet to countersign the transaction or something.

[2016-08-23 09:45] dexX7 commented on #1315
Omni Core has the same API as Bitcoin Core, but with extensions:

https://github.com/OmniLayer/omnicore/blob/v0.0.11.1/src/omnicore/doc/rpc-api.md

[2016-08-23 10:35] MontyKirkman commented on #1314
We need to cosign the tx with the other private key we hold first before broadcasting.  There maybe a way to do that in electrum by using the cosigner pool plugin maybe???

http://docs.electrum.org/en/latest/multisig.html#create-a-pair-of-2-of-2-wallets

[2016-08-23 15:43] ForestCoin commented on #1315
I use this 【"D:\omin\omni core\omnicore-qt.exe" -reindex】 but My wallet has been unable to synchronize on the server. the same problem! Always prompt
assertion failed!
program：D\omin\omni core\omnicore-qt.exe
file:main.cpp,Line1671
Exression:hashPrevBlock == view.GetBestBlock()

[2016-08-23 17:45] ForestCoin commented on #1315
new problem
Assertion failed!
Program:D\omni core\omnicore-qt.exe
File:main.cpp,Line1671
Expression:hashPrevBlock == view.GetBestBlock()

[2016-08-23 19:27] achamely commented on #1314
@MontyKirkman 2 Maid paypload `6f6d6e6900000000000000030000000000000002`

Sorry guys,  i though we could create the tx outside of the main electrum wallet and then when you brought the final tx back to the primary electrum wallet (which has both your master seed and the 2fa) the electrum wallet would handle getting it signed by the 2 keys (the internal private and the trusted coin key) but it seem

[2016-08-23 20:12] dexX7 commented on #1315
Please open an explorer window and navigate to `%APPDATA%/bitcoin`. Does this folder exist?

If you don't have a wallet with imported private keys or alike, which you may need to backup, please delete the whole `%APPDATA%/bitcoin` folder and start Omni Core again.

[2016-08-23 20:20] dexX7 commented on #1314
Actually this is what I'm curious about, too.

If you have access to the private keys, then you could sign the raw transaction with another client, like Omni Core or Bitcoin Core, even with an unsynchronized client.

If this is true, please post the raw transactions to sign, and I'll prepare the command to sign with an unsynchronized Omni/Bitcoin Core client.

[2016-08-23 21:32] zathras-crypto commented on #1315
Hi @ForestCoin

Sorry to hear you are having difficulty.

Could you please let us know how much RAM you have on this server?  Is it virtual?  Are you sharing it with any other altcoin or bitcoin node software?

Please try @dexX7's suggestions, and if you still get the same issue, please post the tail (last 20 lines) of your ```debug.log``` from your ```%APPDATA%\bitcoin``` directory.

Thanks

[2016-08-23 23:56] MontyKirkman commented on #1314
@dexX7 @achamely
Ok...I think this is what your asking for:

Also note** When my electrum wallet is restored from seed I get both private keys and any normal transaction sent no longer requires trusted coin (bypassing 2fa functionality) as the wallet is signing with both the keys it has in the wallet (I assume).  It appears it does not sign with both keys when I load a raw transaction.  It is only

[2016-08-24 07:30] qiaojinfei opened #1316 "Unable to send money after the address to delete, add."
Currency is address don't delete, add after can't send money, send page cannot choose, is it because add error. Need to do now?

[2016-08-24 17:19] dexX7 commented on #1314
Unfortunally I'm not very familiar with the 2fa options of Eletrum, but this sounds like a bug to me.

Interesting. so these two transactions are the same, while the last two are signed by one private key each.

Let's give it a try and sign the transaction from scratch. Please download Bitcoin Core or Omni Core. You do not need to fully synchronize the chain. Please start the Qt client, click on `

[2016-08-25 06:29] MontyKirkman commented on #1314
@dexX7 Looks promising so far.  It came up with:

Which I'm assuming is what you were looking for?  So now I'll wait to see if it confirms....

[2016-08-25 06:56] MontyKirkman commented on #1314
This looks promising...when I put the completed hex into coinb it verifys it with a tick beside the signed '2'  and on multisig it says 2 of 3.

[2016-08-25 06:59] MontyKirkman commented on #1314
However, when I go to broadcast it, it comes up with the same old error

[2016-08-25 07:06] MontyKirkman commented on #1314
Ok I broadcast it and it came up with:

But no MAID has moved to address 16pJ6VcEB7wBqZ5qpHXdajX3CHNS5xMTW5 yet.  I'll wait 30min and see what happens.

[2016-08-25 07:12] MontyKirkman commented on #1314
When I put the txid into blockchain.info

But then again, I really have no idea what I'm doing :)

[2016-08-25 07:47] zathras-crypto commented on #1314
http://omnichest.info/lookuptx.aspx?txid=66e4198af389761dbd309b4c19be704db84dbb1945055302ce2526924b069da4

[2016-08-25 08:19] MontyKirkman commented on #1314
Thanks @zathras-crypto ...so does that look like it's worked or does the unconfirmed status mean it hasn't and something is still not right?

[2016-08-25 09:10] MontyKirkman commented on #1314
In my electrum wallet it's showing transaction unconfirmed.  When I right click on the tx and "view on block explorer"  I get this again

[2016-08-25 09:37] dexX7 commented on #1314
Yay, this is indeed what I was looking for! The signing worked.

The client tries to synchronize with the network, which can take a very long time and it's very disk space consuming. You may just close the client, as we only needed it to sign the transaction.

It will show up, once the transaction confirmed.

blockchain.info has a very strange policy, and doesn't show OP_RETURN transactions until

[2016-08-25 09:53] MontyKirkman commented on #1314
I was excited as well but I'm still holding my breath as  it's been over 2 hours and still no confirmation.  So I was thinking something has gone wrong or do I just have to be patient?

[2016-08-25 09:59] dexX7 commented on #1314
The transaction is valid, but may never confirm, because it's fee is very low. When you created the transaction, was there any option to manually set a fee?

[2016-08-25 10:02] MontyKirkman commented on #1314
Ok...that's great news.  I set the transaction fee as per the instructions from @achamely So I'll do it again and set the fee higher.  What should I set it to?

[2016-08-25 10:05] zathras-crypto commented on #1314
The fee/kb is about 7000 satoshis, I'd suspect this'll eventually confirm but may take a while.

I think I've mentioned using a 10K satoshi input before, but that was based on sending yourself a single input to use for the raw transaction (which works out to about half a kb & 20K satoshi fee/kb.

If it hasn't confirmed in a day or so we can double spend the inputs with a larger fee.

[2016-08-25 10:05] MontyKirkman commented on #1314
On btc.com it came back with this:

[2016-08-25 10:09] zathras-crypto commented on #1314
Bitcoin block explorers are not Omni aware and the behaviour varies.  Our OP_RETURN payloads start with the bytes for the word 'omni' as a marker so some block explorers will show that as part of the output.

[2016-08-25 10:17] MontyKirkman commented on #1314
Well I'm learning something new everyday.

Ok, So I should wait a couple of days or can we try another 10 MAID with a higher fee?

@dexX7 you're a legend for getting this to work.  I'll be more than grateful to the team once my coins are back under my control.  I'll make up another tx with 0.0002730 instead.  I just want to confirm to myself that it is just a fee thing.

[2016-08-25 10:23] zathras-crypto commented on #1314
You can double spend those inputs in a higher fee transaction yep, but you'll need to add inputs for larger amounts.

Your inputs for 0.00002730 won't increase the fee much (as you're also increasing the transaction size by adding another scripthash input making the increase in the fee/kb ratio - the key metric - negligible).

[2016-08-25 10:26] MontyKirkman commented on #1314
I'm a bit lost here? I've increased the fee by a factor 10 to 0.0002730  Am I missing something here?

[2016-08-25 10:29] zathras-crypto commented on #1314
0.00002730 is the amount sent to the recipient, not the Bitcoin miners fee :)

The Bitcoin miners fee is the sum of inputs minus sum of outputs.

[2016-08-25 10:32] MontyKirkman commented on #1314
Face palm, Got it.  So what do I need to do to increase the miners fee?

[2016-08-25 10:38] MontyKirkman commented on #1314
Ok I get it. In settings for Electrum there is a 'Transaction per KB fee'.  It's default is set at 0.0005 So what would you recommend I set it to?

[2016-08-25 10:38] zathras-crypto commented on #1314
If you add more inputs, but don't add more outputs then the fee is increased.

The fee is considered in 'fee per kilobyte' terms, so adding lots of inputs with small values adds to the fee, but also adds to the transaction size, so the fee/kb ratio stays low.  Hope that helps explaon what I meant by use larger inputs.

[2016-08-25 10:40] zathras-crypto commented on #1314
The Electrum fee settings would likely only apply to transactions it creates.  It has no control over fees if the transaction is crafted raw manually.

[2016-08-25 10:54] MontyKirkman commented on #1314
I'm certainly out of my depth here.  So is there something that needs to be done by me to get the fee increased for the miners to mine my transaction in a timely manner? For example if I move whole bitcoin with the payload attached??

[2016-08-25 10:57] zathras-crypto commented on #1314
I realize this must all sound overwhelming - if your current transaction hasn't confirmed by the morning (when I'm back at my desktop) and @dexx7 doesn't beat me to it I'll look up your unspent outputs and provide an amended signraw command to increase the fee.

[2016-08-25 11:02] MontyKirkman commented on #1314
Now there's an understatement :)

Ok thanks.  I thought it was something I had to do.  Greatly appreciated.  Once again, thanks for your help.... and patience.

[2016-08-25 17:15] MrKaneF commented on #1314
@dexX7 What would the command be for me to sign a raw transaction? i have the private keys and i have the unsigned raw transaction but i can't find the rest of all the txids, vout etc that @MontyKirkman has in his command.

[2016-08-25 17:16] MrKaneF commented on #1314
This is the unsigned raw transaction:
0100000005712427afd96ab02cbe584eb5214a5c39d411f342ff0328408d48478f438e2e0e020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff87cf48e69c886f698ae51f4584663cab35cf4889d50d9c9cb266f7985d8f701d020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff73079c5561f3dfbad632a48e8ef3df9b14723986157fedb4b0577361f896bc38020000001901ff16fd05c4f6

[2016-08-25 17:25] MrKaneF commented on #1314
I also have my electrum fees set to 0.001btc/kb so hopefully the transaction doesn't get stuck. @MontyKirkman it looks like the blockchain is currently backed up about 12kb so it may take a while to get a confirmation with your fee.

[2016-08-25 17:28] MrKaneF commented on #1314
Blocks have about 50kb space for "high priority" transactions to get in for free. Hopefully you'll be able to get into one of those or the blockchain has time to empty the mempool a bit.

[2016-08-26 01:45] zathras-crypto commented on #1314
@MontyKirkman as promised here is a modified ```signrawtransaction``` call, I've updated what @dexX7 provided with an extra 0.001 BTC unspent output at the address.  It's a little spendy as the fee is ~60 cents, but to keep it simple and avoid getting into the realm of change I've just used the whole output for fees.

[code]

I think I've got that right :)

Let me know how you get on.

[2016-08-26 01:47] zathras-crypto commented on #1314
@MrKaneF that transaction has no payload in it (no instructions), so won't be considered an Omni transaction.

[2016-08-26 01:49] zathras-crypto commented on #1314
Lol typical, the moment I started doing the work for your updated transaction @MontyKirkman your current one just confirmed.  You can ignore my post a couple back.

[2016-08-26 01:53] MontyKirkman commented on #1314
@zathras-crypto thanks very much. When I get home tonight I'll give it a
whirl and let you know.

On 26/08/2016 1:46 PM, "zathras-crypto" <notifications@github.com> wrote:

@MontyKirkman <https://github.com/MontyKirkman> as promised here is a
modified signrawtransaction call, I've updated what @dexX7
<https://github.com/dexX7> provided with an extra 0.001 BTC unspent output
at the address. It's a

[2016-08-26 04:41] MrKaneF commented on #1314
@MontyKirkman your transaction has confirmed :o

[2016-08-26 04:48] MrKaneF commented on #1314
ok here's the new raw unsigned transaction with the payload:
0100000005712427afd96ab02cbe584eb5214a5c39d411f342ff0328408d48478f438e2e0e020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff87cf48e69c886f698ae51f4584663cab35cf4889d50d9c9cb266f7985d8f701d020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff73079c5561f3dfbad632a48e8ef3df9b14723986157fedb4b0577361f896bc380

[2016-08-26 07:52] MontyKirkman commented on #1314
@zathras-crypto

Just got home and yahoo! I am so relieved it worked .  Ok, I've now got another 82905 Maid to move and 53355 SYNEREO (AMP) to move.  So, is putting the required transactions together something I should be doing or is that likely to be beyond my ability?  If it's something you guys have to do, can you bump the miner fees up a bit so that I can avoid the anxious wait.

I want to com

[2016-08-26 11:51] dexX7 commented on #1314
Hey guys,

I'm currently a bit short of time, so sorry for the delays, and thanks to @zathras-crypto for preparing another transaction! I'm now very sure we can resolve the issue and retrieve all stuck tokens.

Given the amount of money on the line, I'd suggest you may try it yourself, but post the unsigned transaction before signing and broadcasting it, so we can double check it. But we could als

[2016-08-26 20:57] MontyKirkman commented on #1314
@zathras-crypto This tx is what I did last time but I don't know how to convert it to this:

<https://github.com/dexX7> provided with an extra 0.001 BTC unspent output
at the address. It's a little spendy as the fee is ~60 cents, but to keep
it simple and avoid getting into the realm of change I've just used the
whole output for fees.

I went here:

but I was completely lost when I got there and l

[2016-08-27 11:00] MontyKirkman commented on #1314
My first attempt was wrong so I've just corrected the above.  Here it is again so as to confirm.

82905 Maid Raw ready to sign:
{
"hex": "01000000018fe48d1f93c6577cce30cfe3381d138db3b85af45cd01da92efbe39b65e21129000000001901ff16fd05b4b5a5054db1d81519b63de64c091bcfe561dfadffffffff030000000000000000166a146f6d6e69000000000000000300000000000143d9786c07000000000017a914b4b5a5054db1d81519b63de64c091bcfe5

[2016-08-27 11:03] MontyKirkman commented on #1314
@zathras-crypto @dexX7
<modified signrawtransaction call

Actually, I've taken another good look at this code and I think I can make up the transaction myself and I'd like to give it a try.  So let me put it together and if I could ask you guys to check my work before I broadcast it to make sure I haven't made any obvious mistakes, that would be great?

[2016-08-27 22:18] zathras-crypto commented on #1314
Sounds great, please let me know what you'd like checked :)

If you guys get completely stuck I'll build the transactions for you, which you can then verify, before signing.

Thanks
Z

[2016-08-27 22:50] MrKaneF commented on #1314
@zathras-crypto if you get a chance that would be great. Here's the unsigned raw transaction for 12250 maid:
0100000005712427afd96ab02cbe584eb5214a5c39d411f342ff0328408d48478f438e2e0e020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff87cf48e69c886f698ae51f4584663cab35cf4889d50d9c9cb266f7985d8f701d020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff73079c5561f3dfbad

[2016-08-28 05:58] MontyKirkman commented on #1314
@zathras-crypto
I admit defeat :\  I'm out of my depth.  Here is what I came up with:

signrawtransaction "01000000018fe48d1f93c6577cce30cfe3381d138db3b85af45cd01da92efbe39b65e21129000000001901ff16fd05b4b5a5054db1d81519b63de64c091bcfe561dfadffffffff030000000000000000166a146f6d6e69000000000000000300000000000143d9786c07000000000017a914b4b5a5054db1d81519b63de64c091bcfe561dfad87aa0a0000000000001976a91

[2016-08-28 06:57] zathras-crypto commented on #1314
@MontyKirkman your transaction looks OK - you're just supplying a different input in your signrawtransaction than you're using in the transaction.

The transaction uses:
input ``2911e2659be3fb2ea91dd05cf45ab8b38d131d38e3cf30ce7c57c6931f8de48f`` vout ``0``.

Your sign raw transaction references:
input ``f554cb6917053019a8a7e649ca6a10dd28ad2cfc03512e8b3cfaf7a2e8a0b487`` vout ``1``.

Try:
[code]

[2016-08-28 07:03] zathras-crypto commented on #1314
@MrKaneF I've taken a look at your transaction - it has the same issue as @MontyKirkman's first transaction regarding fees (they are very low).  I think this would probably (but not definitely) get confirmed but it may take some time.  You also have another 0.001 unspent output at that address which we could use to speed things up.

[2016-08-28 10:53] MontyKirkman commented on #1314
@zathras-crypto

input 2911e2659be3fb2ea91dd05cf45ab8b38d131d38e3cf30ce7c57c6931f8de48f vout 0.

Ahhhh, sometimes I can be such a clutz!  That was the one I was meant to use.  I just copied and pasted the wrong one to use in Omnicore hence the error.  I should have re-checked before I gave up... So close.

The only thing I'm concerned about before I broadcast, is the fees.  Can you confirm they're

[2016-08-28 15:56] dexX7 commented on #1314
Looks very good! This is what I get, when decoding the transaction:

[code]

If the receiving/reference address and amount are correct, you can sign and broadcast the transaction. :)

[2016-08-28 19:20] MrKaneF commented on #1314
@zathras-crypto hey this is the new unsigned transaction for 12250 maid i opted to use that 1 mBTC input for the fee.

0100000006cf8c50dcc5ed4a85936a1f3d8b87291f25b30cd5fef5ea2e50599eb9b203701b0100000017a914c4f61ed972598dcd2c8ccb39a1aba2525dd6349d87ffffffff712427afd96ab02cbe584eb5214a5c39d411f342ff0328408d48478f438e2e0e020000001901ff16fd05c4f61ed972598dcd2c8ccb39a1aba2525dd6349dffffffff87cf48e69c8

[2016-08-29 05:26] ForestCoin commented on #1315
Thank you, My wallet is in sync. but,turn off, then start to have a long time.what's reason

[2016-08-29 06:11] zathras-crypto commented on #1314
The fee isn't huge, but isn't as low as before (the fee is similar, but the transaction is much smaller, so the fee/kb ratio is higher).  I'd suggest this will be confirmed in a reasonable time.

[2016-08-29 06:52] zathras-crypto commented on #1314
@MrKaneF I've looked at your address (3KeT) but it doesn't seem you've ever spent from it, so I'm unable to determine your redeem script - can you paste it in?

[2016-08-29 11:02] MontyKirkman commented on #1314
Ok..this can be frustrating.  I keep thinking I've done everything right but it's not grrrr.  The below is for 10 Synereo.  When I put it into Omni with both private keys, it verifys as

However, when I put the completed hex from Omni into coinb.io to verify it comes up showing the 'x' in the 'multi sig' and 'signed' boxes i.e. showing that it's not signed.  What am I missing this time??

signrawt

[2016-08-29 14:06] dexX7 commented on #1314
Can you please post the signed transaction?

[2016-08-29 16:49] MrKaneF commented on #1314
@zathras-crypto How do I find my redeem script? Would it be easier if I just sent some bitcoin to another address. Recreate the unsigned transaction and go from there? Or is there another way I can get my redeem script?

[2016-08-29 16:55] achamely commented on #1316
For clarification spoke with user over support email.  They accidentally deleted the address from their wallet and added it back as a watch only. Restoring the wallet to when the private key existed allowed them to send

[2016-08-29 16:55] #1316 closed

[2016-08-29 19:06] achamely commented on #1314
Quickest way i found is in electrum right click on the address you need the redeem script for and select show pubkeys.
Then go to https://coinb.in/#newMultiSig

Enter the 3 pubkeys (make sure dropdown says 2) and click submit.
This will generate a multisig address from the 3 pubkeys (which should match your electrum address) and display the redeem script along with it.

If the address does not mat

[2016-08-29 21:08] MontyKirkman commented on #1314
￼
{
"hex" : "010000000162749b173841e8d07df883dc78778decb6c021b5c463a363f6489ff7399a37d4020000001901ff16fd05b4b5a5054db1d81519b63de64c091bcfe561dfadffffffff030000000000000000166a146f6d6e690000000000000027000000000000000a546401000000000017a914b4b5a5054db1d81519b63de64c091bcfe561dfad87aa0a0000000000001976a9143fca72f62f696782e7394821493f80cafa7de87388ac00000000",
"complete" : true
}

[2016-08-29 22:38] zathras-crypto commented on #1314
Have a look at the hex you've posted as your signraw call, and your subsequently signed hex:

and

As you can see they are identical, so there are no sigs in the second raw hex.

I've reviewed what you've done, I think you've got a bad scriptPubKey in your signraw call (you're using ``01ff16fd05b4b5a5054db1d81519b63de64c091bcfe561dfad`` instead of ``a914b4b5a5054db1d81519b63de64c091bcfe561dfad87``

[2016-08-30 00:35] MontyKirkman commented on #1314
@zathras-crypto

Ok, I get it.  I was taking the script from the Txid instead of the from the address the funds are held in.  I should have spotted that actually, so thanks gain.

Yes and largely thanks to you! They are now all safe and sound under my control again.

[2016-08-30 01:31] MrKaneF commented on #1314
Thanks @achamely this is the redeem script for my unsigned transaction above:
522102144dcd2536edd244aaab617cf7743957faa085e8ade7d9cfeaf0d1d864b4c79421029d13415c8c0feecdb18917b5b9a6da965721e7bafcdacbd139e4e0a1da63e989210390b273b39dce5335697f9bcc4198318e8313145719704973c2c753d0a44c0cb753ae

[2016-08-30 01:46] MontyKirkman commented on #1314
@zathras-crypto

Yes that worked and confirmed.  However the payload was for only 0.00000010 instead of 10.  I used 6f6d6e690000000000000027000000000000000a from @achamely instructions but noticed yours was

Before I make up a tx for 53344 Synereo Amps.  Could you confirm which payload I should be using.

or

[2016-08-30 01:48] MontyKirkman commented on #1314
Actually, I'll be able to work that out for myself.  I'll post the tx here again for checking before I broadcast.

[2016-08-30 03:26] zathras-crypto commented on #1314
The payload is always specified in int64, and that's how we represent tokens internally in Omni Core.

The issue is that of divisibility.  Omni supports both divisible and indivisible tokens. An int64 value of 100000000 represents either 100000000 individisible tokens or 1.00000000 divisible token.

Property 3 (MAID) is indivisible (ie only supports whole tokens), so a payload value of 53344 would

[2016-08-30 03:30] zathras-crypto commented on #1314
Note, if you're putting the payload in manually (not using Omni Core's raw tx interface) you'll need the Omni marker too as Adam mentioned.  So the full OP_RETURN output would be

[code]

or

[code]

[2016-08-30 04:02] zathras-crypto commented on #1314
@MrKaneF you threw me for a bit - took a little time to figure out what you'd done hehe...  There is definitely something wrong with your transaction.  Please note the negative op codes.

Could you please try crafting the transaction again?

[code]

[2016-08-30 09:32] dexX7 commented on #1314
I have no idea what this extra data is, but it doesn't seem harmful. I noticed the strange data as well, when decoding the unconfirmed transaction from this post https://github.com/OmniLayer/omniwallet/issues/1314#issuecomment-241918783 (which later became valid after signing).

[2016-08-30 10:09] MontyKirkman commented on #1314
I now believe this is correct?  Could someone check before I broadcast. Cheers

signrawtransaction "010000000162749b173841e8d07df883dc78778decb6c021b5c463a363f6489ff7399a37d4020000001901ff16fd05b4b5a5054db1d81519b63de64c091bcfe561dfadffffffff030000000000000000166a146f6d6e690000000000000027000004da03046000546401000000000017a914b4b5a5054db1d81519b63de64c091bcfe561dfad87aa0a0000000000001976a9143fca72

[2016-08-30 10:42] zathras-crypto commented on #1314
Well colour me surprised, you're right!  I didn't notice on the previous tx.  I'll prep a signraw call.

[2016-08-30 10:45] zathras-crypto commented on #1314
[code]

[2016-08-30 11:07] zathras-crypto commented on #1314
@MrKaneF

I believe this should do the trick:

[code]

[2016-08-30 16:14] ForestCoin opened #1319 "Transfer synero find error"
the error code was:-211
the error message was:
Error creating transaction(wallet may be locked or fees may not be sufficient)

but my  wallet can be transferred maidsafe。have enough bitecoin and not locked。 why?
What conditions need to transfer synereo

[2016-08-30 18:26] achamely commented on #1319
@ForestCoin Are you getting this error with Omniwallet.org or in the Omnicore Client?

It sounds like it's in the Omnicore client in which case your BTC needs to be on the sending address (same address your synero is on).
Also there is a dedicated github for the Omnicore client (see https://github.com/OmniLayer/omnicore for that project)

[2016-08-30 19:30] MrKaneF commented on #1314
@zathras-crypto @dexX7 @achamely You guys have been absolutely incredible with your responses and support for solving this problem. I just want to thank you guys. While I did not have a large amount of MAID it means a great deal to me you guys were willing to help me (and @MontyKirkman) solve our problems. Thanks again guys and good luck with Omni development ;)

[2016-08-30 19:42] dexX7 commented on #1314
@MrKaneF: you are very welcome! Did it work? Are all your tokens un-stuck?

[2016-08-31 02:32] ForestCoin commented on #1319
@achamely
I can't understand your means. now, I want to take  synereo to poloniex from my omnicore wallet,but always prompt error. such as

the error code was:-211
the error message was:
Error creating transaction(wallet may be locked or fees may not be sufficient)

or

Warning:the sending address is low on btc for transaction fees.please topup the btc balance  for the sending address to send omni

[2016-08-31 02:33] ForestCoin commented on #1319
How do I operate on my omnicore wallet?  thank you

[2016-08-31 09:02] MontyKirkman commented on #1314
@zathras-crypto @achamely @dexX7
Yahoo!  All coins are now safely back under my control. Your collective help was above and beyond  the call of duty imho.   Anyway, I've set aside a BTC for you guys to say thank you very much and to have a night out on me.  So, make me feel good and send me a btc address :)
Thanks again
Monty

[2016-08-31 09:24] dexX7 commented on #1319
@ForestCoin: send a smaller amount of bitcoin to the address currently holding the synereo. These bitcoin are required for the transaction fee and additional data outputs.

[2016-08-31 14:44] ForestCoin commented on #1319
@dexX7  my omnicore wallet  have 0.0255 btc。isn't that enough?how much  I need to turn to the number of btc  into the omnicore wallet?

[2016-08-31 14:48] ForestCoin commented on #1319
I am currently testing the omnicore wallet. the wallet include  0.0255btc、0.1omni、16maidsafecoin、3synereo。  maidsafe can be transfer.but  omni and synereo transfer wrong.

[2016-08-31 17:52] MrKaneF commented on #1314
@dexX7 Yep problem solved :)

[2016-08-31 19:23] dexX7 commented on #1319
@ForestCoin: 0.0255 BTC is enough, but did you make sure it's in the address holding the synero, or do you use another address for maidsafe? If so, you need to send some of the BTC to the address holding the synero.

[2016-09-01 05:31] zathras-crypto commented on #1314
Great to hear you guys got your funds into addresses you can work with easier :)

@MontyKirkman that's incredibly kind, thank you.  We're not sure what to do regarding a donation, so have sought advice from the Omni foundation.  Thanks again for such a kind thought.

Also FYI @achamely has just gone away for a week for a (well deserved) holiday so will likely not respond here for a few days.

[2016-09-01 06:06] ForestCoin commented on #1319
@dexX7  my omnicore wallet  have two  synereo  address. one address can  be  transfer synereo to  poloniex。but another address is wrong. so, two  address must have btc? This experience is difficult for our foreign users to operate

[2016-09-01 06:10] zathras-crypto commented on #1319
Hi,

Any address used to send Omni requires a small amount of BTC for fees.

Thanks

[2016-09-01 06:28] ForestCoin commented on #1319
if there are more than ten addresses in my omnicore wallet, then I mustt to give these addresses to bitcoin? Why don't you have a total address to pay for the fee.

[2016-09-01 06:33] MontyKirkman commented on #1314
No problem. I'll hold it here, but it has your guys name on it until you all decide what to do. If you want to wait for @achamely to get back from vacation then that's fine with me.  Lol...now don't make it hard for me to give it to you guys. Those coins had no show of being extracted without your help plus they increased in value while they were stuck. So I've come out aok no matter how you look

[2016-09-01 07:19] zathras-crypto commented on #1319
Yes.   An Omni transaction is a Bitcoin transaction with extra metadata.  Bitcoin is required to use the Bitcoin network.

Cryptographically signing an input from the sender is a fundamental concept of cryptocurrency.  If we use a different address for the fee and don't include any bitcoin input from the sending address, there is no way to prove the sending address authorized the transaction.

We

[2016-09-01 09:59] ForestCoin commented on #1319
thank you

[2016-09-01 10:41] zathras-crypto commented on #1319
No problem :)

[2016-09-06 22:23] dexX7 commented on #1314
@MontyKirkman: @achamely returned from his holiday and we had a meeting a few minutes ago.

We discussed how to handle tips in general, and we decided to simply split it. If you still want to go ahead, please use 1HpGtNhWDvQjsCroLdLSV36RVd9ybe27Z1, and I will forward it.

If so: thank you a lot!! :)

[2016-09-06 22:36] MontyKirkman commented on #1314
Thanks @dexX7 I just sent it, so it should be there soon.  Thanks again guys for getting me out of a sticky situation.

[2016-09-06 22:36] #1314 closed

[2016-09-06 23:04] zathras-crypto commented on #1314
@MontyKirkman thank you so much for your kind and generous tip, I know I speak for all of us when I say it's really appreciated!

[2016-09-07 13:14] achamely commented on #1314
@MontyKirkman
Agreed. Definitely greatly appreciated

[2016-09-20 05:18] ForestCoin opened #1320 "my web omniwallet can not send btc"
my address is  1N6hGEnNaoj96UvJzQB3QxAVQwwFGXFZCo . this address have 0.1101184 btc.but can not send

[2016-09-22 13:36] achamely commented on #1320
@ForestCoin what error do you get when you try to send?

[2016-09-22 13:36] #1319 closed

[2016-09-22 13:36] #1296 closed

[2016-09-24 13:57] ForestCoin commented on #1320
I would like to turn the address of the remaining btc to go out, but can not choose the address to send

[2016-09-25 18:22] owen-kellie-smith opened #1323 "History doesn't show BTC transactions"
http://blockchain.info/address/1M2BgbWixvpvRyCGF3WBQ6hTpxjX9gNfdh shows transactions into and out of the address held at omniwallet.

but

https://www.omniwallet.org/  Omniwallet > History doesn't show any transactions
![omniscreen](https://cloud.githubusercontent.com/assets/7147546/18817301/36e37276-8355-11e6-9b62-2dc629abbeb7.png)

[2016-09-25 19:27] owen-kellie-smith commented on #1323
Is it because it is a BTC-only transation?  https://github.com/OmniLayer/omniwallet/wiki/Omniwallet-History-and-missing-BTC-transactions

[2016-09-29 22:30] achamely commented on #1323
Yes, at the moment the history page only show Omni protocol transactions.  For bitcoin only transactions we recommend a block explorer like blocktrail.com or blockchain.info

[2016-09-29 22:30] #1323 closed

[2016-10-08 07:34] mabuse68 opened #1344 "{{'COMMON.LOADING' | translate}} error on splash page in Safari"
OSX user: No page shows up on Safari 9.1.3, an error is reported as mentioned in the subject (see screenshot attached)
![omniwallet](https://cloud.githubusercontent.com/assets/970726/19211335/4fd69cc4-8d3a-11e6-9f5f-79437aa27419.jpg)

Deleted cookies and cache, stays the same.

Firefox seems to be unaffected.

[2016-10-11 17:25] diegomr86 opened #1345 "Send action is returning balance 0"
When I click "Send Funds" button the modal closes and nothing more change.
Debugging i found this error when converting from address :
timeout: "failed to run command \xe2\x80\x98sx\xe2\x80\x99: No such file or directory"

[10/11/16, 14:08:25] Diego M. Rodrigues: no arquivo  na função get_addr_from_key(key)
[10/11/16, 14:08:44] Diego M. Rodrigues: que acho que chama um comando local do linux
[10/1

[2016-10-18 17:06] achamely commented on #1344
Confirmed issue is in safari 9. Interim solution is either upgrade to 10 or use chrome/firefox

[2016-10-24 16:53] achamely commented on #1344
Should be resolved now with https://github.com/OmniLayer/omniwallet/pull/1359

[2016-10-24 16:53] #1344 closed

[2016-10-24 16:54] achamely commented on #1255
fixed

[2016-10-24 16:54] #1255 closed

[2016-10-24 16:54] achamely commented on #1253
Updated and Fixed in staging. will be released with next major push

[2016-10-24 16:54] #1253 closed

[2016-11-18 13:45] achamely opened #1396 "Staging: DEx release bugs/issues/comments"
Track all reported issues/bugs/comments on the new DEx interface and their resolution

- Seller's existing active offers table not cleared when order confirmed (duplicate entry)
- (bug/feature) add word pending under active offer (change row color to blue?)
- add pair name to active offer title
- (bug) round up buy order form calculations and round down sell order form calculations to display prop

[2016-11-18 13:50] achamely commented on #1396
Marv Schneider - uploaded and commented on an image: Pasted image at 2016-11-16, 4:26 PM
why are the two amounts different, but the totals are the same?

![image](https://cloud.githubusercontent.com/assets/6587089/20432187/ff4ce5d6-ad6b-11e6-9418-d486d254a520.png)

[2016-11-18 13:57] achamely commented on #1396
Marv Schneider	uploaded and commented on an image: Pasted image at 2016-11-17, 5:37 PM
Unexpected behavior in Ff on staging: I added a watch-only address that was listed as the address for an Omni/USDT ask. I wanted to see if that ask would show up as one of “my offers” if I don’t have the private key. The new address and its balances showed up immediately on My Addresses - good. But for some reas

[2016-11-29 15:34] achamely commented on #1218
duplicate of #1219

[2016-11-29 15:34] #1218 closed

[2016-11-29 15:36] achamely commented on #1204
sx no longer used for balance, issue resolved by migrating to new balance lookups

[2016-11-29 15:36] #1204 closed

[2016-11-29 15:39] achamely commented on #1212
resolved with #1290

[2016-11-29 15:39] #1212 closed

[2016-11-29 21:21] achamely commented on #769
handled by rebrand update

[2016-11-29 21:21] #769 closed

[2016-11-29 21:23] achamely commented on #729
handled by new updates on staging

[2016-11-29 21:23] #729 closed

[2016-11-29 21:24] achamely commented on #772
completed with new design on staging

[2016-11-29 21:24] #772 closed

[2016-11-29 21:25] achamely commented on #1110
completed with new design on staging

[2016-11-29 21:25] #1110 closed

[2016-11-30 15:08] marvgmail opened #1419 "Exchange pages should be viewable when not logged in"
Let users see OmniDex, BTC/Omni and My BTC/Omni offers pages without logging in. Those pages should be modified so the user can sign in and stay in the current context on that page. Any action that would require the user to sign in will display the Login modal.

[2016-11-30 16:56] marvgmail commented on #1396
For the record - have to correctly display, and accept input, for indivisible properties.

[2016-11-30 17:02] marvgmail opened #1420 "Open New Market page should detect that the market exists"
The user should be told that the market already exists, with a button/link to display the dex/overview page for the property pair she entered on the Open New Markets page.

[2016-11-30 17:08] marvgmail opened #1421 "Use omniexplorer.info to present details"
At least until OW has full functionality to present details and history for transactions, addresses, etc., OW should provide a URL to open the corresponding page in omniexplorer.info in a new tab.

[2016-11-30 18:09] marvgmail opened #1424 "Exchange pages, and others, should show value for property amounts"
User should be able to see the value in his chosen fiat currency of the smart property amounts involved in transactions, e.g. buy/sell orders, sends. Details TBS.

[2016-11-30 21:11] achamely commented on #1419
completed

[2016-11-30 21:11] #1419 closed

[2016-12-02 19:18] marvgmail opened #1441 "Several links in the page footer don't work"
Should they behave differently when signed in vs. not?

[2016-12-04 10:57] ripper234 opened #1442 "Adding a private key tries to validate as Bitcoin address"
When adding a private key, the page insists the value should be a Bitcoin address when pasting a BASE58 private key.

![image](https://cloud.githubusercontent.com/assets/172282/20865666/1928604a-ba21-11e6-8d3d-3a52ef8fec28.png)

[2016-12-07 16:18] marvgmail opened #1446 "Watch-only address still listed after removing it from wallet"
On Firefox I removed a watch-only address from the Overview page. It was removed from that (BTC)  list but the balance and value weren't updated. I went to My Addresses and the balance and value were also not updated. I changed to Show by Address and the address was listed. I went back to Overview and that address was listed again in the BTC list.

[2016-12-16 03:24] harshadp08 opened #1451 "Unable to Sign on to Wallet"
I am attempting to Log in to my wallet but reports that there is a "server error."  Anyone else getting this?

[2016-12-19 17:33] marvgmail opened #1452 "OmniDex page should provide a link to asset details page for traded properties"
Make it easy for a user to learn about a property that's being traded, e.g. an (i) link next to the property name in the markets table. We'll need a usable link for Omni, or don't add the (i) icon.

[2017-01-02 03:39] ForestCoin opened #1458 "my web omniwallet can not send btc who can solve this problem"
my address is 1N6hGEnNaoj96UvJzQB3QxAVQwwFGXFZCo . this address have 0.1101184 btc.but can not send

[2017-01-10 11:57] xema2110 opened #1464 "MetaDEX trade not confirmed"
Has not confirmed for 24 hours

84a3fe3e2dcc990e9c5da1884facc408489c33b863863cebfa2e319aa332bc30

[2017-01-10 16:14] xema2110 commented on #1243
How can it be solved?

I have a few unconfirmed transactions...

[2017-01-10 17:49] #1464 closed

[2017-02-20 16:48] White1337 opened #1467 "cant send btcs and i cant select a from adress"
title says everything, cant select a adress i want to send from and that causes that i cant send btcs.

[2017-02-20 17:01] #1467 closed

[2017-02-25 19:44] python4d commented on #1243
+1

[2017-04-24 12:35] silverbucket opened #1487 "Tried to buy OMNI, took my BTC never gave me OMNI"
I transfered about ~0.1 BTC to my Omniwallet, then used the Exchange -> BTC/OMNI listing to buy OMNI. I tried several times:

https://www.omniwallet.org/explorer/inspector?view=e064a1820841ef564f7ee275afc884b9c554bed432ace42e04172c1c89b37d6f
https://www.omniwallet.org/explorer/inspector?view=35b00f1b4f1782d5b525fed976e3a876092240d25438d248694e0ce5be51edcd
https://www.omniwallet.org/explorer/inspec

[2017-04-26 08:19] silverbucket commented on #1487
Is there anyone who can help to sort this issue out? Or a place that I should take this issue to other than here?

[2017-04-26 15:22] dacoinminster commented on #1487
That stinks - I'm sorry it isn't working for you. The transactions you posted are all of the "accept offer" variety. Did you actually send payment? It's a two-step process: first, reserve the coins so nobody else can buy them (accept offer), then send payment for the coins in BTC. It may be that the UI needs to be improved to better signal how this works.

[2017-04-26 15:39] silverbucket commented on #1487
Hi @dacoinminster thanks for your reply. Yes I first reserved the coins then accepted the offer, so my BTC balance reflects the transactions, but I have no OMNI to show for it. Is there somewhere I can show the transaction of accepting the offer?

[2017-04-26 16:03] dacoinminster commented on #1487
I'm assuming the payment came from the same address. Can you find the payment transactions here?: https://blockexplorer.com/address/12KngzAVn574YwWXs6oWkY8AKYULqJxtJd

If you paid during the payment window, it _should_ have worked. Since you aren't showing a balance of Omni, I'm assuming something went wrong. Hopefully we can figure out what happened, but I suspect the BTC is gone. However, it may

[2017-04-27 12:10] silverbucket commented on #1487
I'm still not sure what the menus in the UI mean, but in the My Wallet -> History, I see a list of "Accept Offer" transactions for Omni, they all say 0.0 Omni. And 2 of the 4 when I view the details say "invalid: true" but 2 say "invalid: false" these two are probably the 2 where I actually sent the bitcoin.

[2017-04-27 12:23] silverbucket commented on #1487
@dacoinminster the latter of those 4 transactions say "invalid: false" and in the details have the amount of Omni that the transaction was for. The former 2 say "invalid: true". Does this help with anything? I believe the 2 ones that are not invalid are the ones where I actually did send bitcoin (those amounts look correct).

Looking at the link you posted. I'm not entirely sure what you want me t

[2017-04-27 12:29] silverbucket commented on #1487
Hmm, doing a bit more digging, I think perhaps this may be at least the main transaction (there were several that were for .004~ which I am a bit confused about. It reminds me that in the Omniwallet at first there were several JSON errors and I kept re-trying and failing, this could be related.

So anyway this transaction looks like the main one I made to get ~11-12 Omni:

https://www.blocktrail.c

[2017-04-27 16:15] dacoinminster commented on #1487
Definitely not the honor system. Once you have accepted an offer, the Omni are reserved for you by the protocol for the duration of the payment window, and if you send payment during that window, the Omni are owned by you. There's nothing the seller can do to rip you off.

This link might be helpful: http://omnichest.info/lookupadd.aspx?address=12KngzAVn574YwWXs6oWkY8AKYULqJxtJd

One important thi

[2017-04-27 16:47] silverbucket commented on #1487
Hi @dacoinminster thanks for the info. So I can definitely provide the wallet address that sent the BTC into the Omniwallet. It was from my breadwallet and here are the two transactions:

0.09 BTC:
https://www.blocktrail.com/BTC/tx/1edad1abeed106e24d013f07212cb5156e04331c4517ec739b5f5be8a298ae65

0.02 BTC:
https://www.blocktrail.com/BTC/tx/254874d92534ae60c5cd05cdfc04bdec99f26865063f4bfde97682c499

[2017-04-27 16:55] silverbucket commented on #1487
Looking at the transaction history of that wallet, that does seem to be what happened:

https://www.blocktrail.com/BTC/address/12KngzAVn574YwWXs6oWkY8AKYULqJxtJd

The first 0.09 arrives, then a series of small transactions which I think were happening when I would try to accept an offer, enter an amount of BTC and then get a JSON error response from the server about not enough funds, but the servi

[2017-04-28 16:51] dacoinminster commented on #1487
ok - I think I found the root description of the problem. It appears that this is the transaction where you tried to pay for the Omni:

https://blockchain.info/tx/8691468a639581f723b7de6110b6a9b0ce49789503ae4d1984b4d73ab0b8ee66

But for some reason, that transaction is not showing up at all as a valid Omni transaction. For instance, the history of your address doesn't show that transaction at all:

[2017-04-28 17:36] Swissbanker opened #1488 "login successful but assets loading forever. I am not alone."
It looks like there is a bug affecting many users ?

[2017-04-28 18:03] dacoinminster commented on #1488
This happens to me from time to time. Usually goes away with some combination of refreshing, clearing cookies, switching browsers, etc.

[2017-04-28 19:59] dacoinminster commented on #1487
Summary of an email thread about this: it appears the TX fee was too low, so the payment, while sent in time, was not included in the blockchain for something like 7 hours, by which time the payment window had expired :(

Hopefully we can make a change in Omniwallet to make it clear that the TX fee needs to be generous to ensure that the payment is received during the payment window, and possibly

[2017-04-29 07:47] silverbucket commented on #1487
Thanks for your help in tracking down the issue. From what I remember, I didn't choose a fee at all. It was suggested for me by the UI.

This seems like a very bad issue. By enforcing a window yet not taking measures to ensure a timely transaction, the system can easily loose users BTC, providing no rollback or mitigation for delays in processing.

So to be clear, there is nothing that can be done

[2017-04-29 07:49] silverbucket commented on #1487
Also perhaps a separate issue but it does seem like another serious bug where transaction fees were leaking from my wallet while there were transaction submission errors in the UI.

[2017-05-01 20:31] dacoinminster commented on #1487
Maybe they were invalid because the coins were already reserved by the time the transaction was included in the block chain? It could be the same fee issue causing both problems.

[2017-05-10 22:09] URAshoaf opened #1491 "Can not send coins."
Trying to send SafeX coins, have over 900K Satoshi and cant spend the 64,000 Satoshi for the miner fee.

 System error reports:

: Not enough funds, try again. Needed: 0.0006376499999999999995057772817 but Have: 0.0000273

[2017-05-11 17:14] URAshoaf commented on #1491
It ended up working- bummer it took so long to update the fact that I had enough BTC for the transaction.  Thanks all the same.

[2017-05-14 03:58] msgilligan commented on #1235
There seems to be a regression on this issue:
https://www.omniwallet.org/v1/mastercoin_verify/addresses?currency_id=1

[2017-05-14 04:00] msgilligan commented on #1235
@achamely Can you re-open this issue or should I open a new one?

[2017-05-15 16:15] achamely commented on #1235
seems this isn't reporting like that, will look into it

[2017-05-17 03:31] ForestCoin opened #1493 "why can not transfer"
1K9R6ZUuqEyMRcuEGE2B6kAgD683ToXD6u     I turn out many days before, can also be found, explore records are not now. Or not transfer success

[2017-05-17 03:40] ForestCoin commented on #1491
I have this problem, too

[2017-05-17 19:21] msgilligan commented on #1235
Thanks @achamely !

[2017-05-19 13:17] achamely commented on #1493
@ForestCoin ,
What are you trying to transfer?
Checking your address, 1K9R6ZUuqEyMRcuEGE2B6kAgD683ToXD6u ,  it currently has no assets/nothing on it at all.

[2017-05-19 13:18] achamely commented on #1491
@URAshoaf we were having some latency issues with balance updates but a fix was pushed earlier this week. If you encounter the issue again let us know

[2017-05-19 13:18] #1491 closed

[2017-05-19 13:18] achamely commented on #1488
@Swissbanker A fix was pushed earlier this week. If you encounter the issue again let us know

[2017-05-19 13:18] #1488 closed

[2017-05-19 13:19] #1451 closed

[2017-05-19 13:21] #1458 closed

[2017-05-22 17:27] 37355078 opened #1494 "Error message "Server Error" whenever attempting to send coin"
I am trying to send coin from my omni wallet to another onmi wallet. Im sure address is correct, because that same wallet address has sent coin to my wallet address successfully. I have sent coin from my wallet to other addresses, but that has been some time ago like 1 month ago.

[2017-05-28 09:17] vndtdd opened #1500 "PLEASE HELP ME, TETHER USDT NOT CREDITED TO MY ACCOUNT !!!"
i have received 1744 USDT but it's not credited to my Tether account,
Tether login name : vndtdd2@gmail.com
hash link: http://www.omniexplorer.info/lookupadd.aspx?address=3MzeynkgaRwUDey8qe4sTuTssG9uKbmig6

Please help me fix now ?

[2017-05-29 03:58] NReilingh opened #1501 "Address and value duplicated, can't remove duplicates"
I created a new address in Omniwallet, and may have tried to add the same address as a "watch only" address — I can't recall exactly what I did. But after I sent some MAID to this address and the transaction was confirmed, the address was duplicated under the MAID asset.

Under the Addresses list, the one address is shown and calculated correctly, but switching to "View by Assets", the same addres

[2017-05-29 04:01] NReilingh commented on #1501
Upon further reflection, this could be a bigger issue — I can't remove ANY addresses from the maidsafecoin asset list now that I removed the "address" value, but the addresses listed under the maidsafecoin asset still have the padlock icon indicating the private key is still accessible to the application, and there is no way to remove it. That's not good.

[2017-05-29 04:05] NReilingh commented on #1501
More testing and information: after trying with a fresh browser, the "duplicate" addresses and sums are gone. So it's a browser code issue that's not affecting persistence. Still pretty annoying.

[2017-05-29 06:24] #1500 closed

[2017-06-01 06:53] msgilligan opened #1504 "API `/v1/system/revision.json` no longer returns `commit_hexsha` of current block"
[According to the README](https://github.com/OmniLayer/omniwallet#get-system-version-information) a `GET` to `/v1/system/revision.json` should return the following:

    {
        "commit_hexsha": "c030d61e6e7d91c2149a7af8af6bca70e7c0638f",
        "commit_time": "20140131",
        "last_block": 284634,
        "last_parsed": "07 Feb 2014 15:48:39 GMT",
        "url": "https://github.com/grazcoin

[2017-06-01 15:44] msgilligan commented on #1504
Here's a PR for the README update: https://github.com/OmniLayer/omniwallet/pull/1506

[2017-06-01 15:54] msgilligan opened #1507 "Multiple address-balance request returns zero BTC balances due to rate limit"
When querying the new `/v2/address/addr/` Omniwallet can return a zero balance for BTC, because the upstream web-service providing this information is rate-limited.

At a minimum, when this error condition occurs on the "upstream" request, an error result should be returned the the Omniwallet client request.

Ideally, Omniwallet will be able to return this information in a way that the rate limits

[2017-06-04 19:52] msgilligan opened #1511 "address-balance request should return 'reserved' balances"
We should add Omni `reserved` balance info to the response to the `/v2/address/addr` request.

[2017-06-05 15:35] msgilligan commented on #1511
Related: https://github.com/OmniLayer/omniwallet/issues/520

[2017-06-09 10:09] ForestCoin commented on #1493
e528516428ef944e3a00c10dace081f407c61ddfe33c59cee4128ba458a32bb5      my synereo has been transfered.   but  there is  INVALID!  where is my synereo?

[2017-06-09 10:12] ForestCoin commented on #1493
@achamely     e528516428ef944e3a00c10dace081f407c61ddfe33c59cee4128ba458a32bb5
                      this is  txid.   but my  synereo is losed?

[2017-06-12 12:51] joshhart12345 opened #1512 "Server error, try again later"
Hi

I've had the Server error, try again later message for over a day now when trying to log in - is there some dvelopment going on at the moment or another reason as to why I can't log in?

Thanks
Josh

[2017-06-19 07:04] sgjenks01 opened #1513 "Can't send BTC"
I have an OmniWallet with 2 addresses. I am simply trying to send the BTC at one address to the address that has USDT in it.

When I put in the addresses and amount to send, a green button appears which offers to "Re-estimate Transaction Cost".  But when I push that button, it disappears and a grayed out "Next" button appears and there is no further progress from then on (hung).

Any hints on how

[2017-06-23 16:57] ThorvaldAagaard commented on #1442
I had the same problem, and figured out it was because I was pasting a private key from Armory, and that private key contained spaces. So just remove spaces from the private key and try again.  Ofc. it would be nice with a better error message

[2017-06-28 00:35] Frankenmint commented on #1512
Hey josh was it ever working for you or is this your first time installing?  I did some digging and see that I"m getting this error from the connection being refused:

`... connect() failed (111: Connection refused) while connecting to upstream ... `

I suspect that nginx is not able to successfully connect to the socket.io service on the backend and am trying to pin this down now - will reply wit

[2017-06-29 10:21] MIKEJC8 commented on #1513
who can help 2.5btc to me

[2017-06-29 17:41] sgjenks01 commented on #1513
I got an answer to my question. The wallet has to have BTC in it to "fuel" the wallet because all the coins/tokens are based on and trade on the BTC blockchain, so it takes BTC to pay the miners.

[2017-06-29 17:41] #1513 closed

[2017-06-30 01:35] MIKEJC8 commented on #1513
who can help 2.5btc to me send to this btc address line :1P5tA9JMBmZR9bFHMY3cJTiQy1dSM2EW44 :+1:

[2017-07-01 10:15] sennevb opened #1527 "can this be converted to web wallet for altcoins??"
can this be used as a base for web wallet for altcoins??

[2017-07-06 13:23] achamely commented on #1527
At the moment Omniwallet is designed for use with Bitcoin and the Omni protocol.
It can be forked and converted to be used with other altcoins but would need some additional updates/changes to support the altcoin of your choice.

[2017-07-06 13:23] #1527 closed

[2017-07-06 13:25] achamely commented on #1512
hey Josh, there was an unfortunate issue that caused the system to lock up at that point. We were able to clean things up a bit after your message.

[2017-07-06 13:25] #1512 closed

[2017-07-06 13:27] achamely commented on #1501
Thanks for the report NReilingh, we'll look into trying to duplicate and figure out why this is happening.

[2017-07-06 13:28] achamely commented on #1493
that txid was invalid because the sending address did a double send and had already sent the AMP's in tx http://omniexplorer.info/lookuptx.aspx?txid=455d5a73373c8889e29c4fd73d63d77d295255730ec14deb3a60f18bd1822869

If you look at the sending history for that address you can see the 2 sends took place right after eachother: http://omniexplorer.info/lookupadd.aspx?address=1GMWNmPSAW54JirPi7vpNopeTZS

[2017-07-06 13:28] #1493 closed

[2017-07-18 04:17] ryanbaldoza opened #1540 "OmniDex Page Buttons on mobile"
Some elements in the OmniDex Page are not responsive

![omni](https://user-images.githubusercontent.com/20087842/28300581-0746dfde-6bb3-11e7-822d-e2080af12709.png)

[2017-08-05 14:01] theWebalyst commented on #1501
Same happens if you import an address multiple times - the address is listed once per import and the wallet balance is multiplied by the number of times you import (ie it totals every duplicate address).

If I create a new address in order to be able to delete the imported address (as it was the last one) and then import it again it just adds another duplicate, so it remembers the earlier imports

[2017-08-09 16:04] XBase-xOR opened #1552 "Sending Omni fails with message: Not enough funds, try again."
The exact message I get is:
"Not enough funds, try again. Needed: 0.0001575600000000000002399686352 but Have: 0"

I am trying to send 1 Omni from the address 1LB2AZvQrLaBxti8gkUHRfZ94oKF1dQmQS. The wallet overview says this address currently has 0.0005 BTC and 100 Omni. Should be sufficient Omni to transfer and also sufficient BTC for the transaction fees (which the dialog says is 0.0002067 Bitcoi

[2017-08-10 04:15] dadonn opened #1553 "Omni Wallet Transfer To Bittrex"
Waiting for 9-10 hours now. Transaction is still unconfirmed. Hope I'm doing this in the right place. Submitted to omni help desk and got a number issued. Pretty new at this so forgive me if this is redundant. 1NEALGjYtfwWdDhS94ZM6ykcxRfktBmVFe is my public key. Hopefully this helps. Freaking out a little.

Thanks,

Dave

[2017-08-10 18:58] #1553 closed

[2017-09-01 15:09] Usogeking opened #1558 "Stored MAID in electrum with 2fa, need help"
I was stupid enough to store MAID in my electrum wallet using 2fa, so the address I have my MAID on 3Jnz4bDfgmB9DYiZkxZ....... does contain the MAID according to www.omniwallet.org, but the corresponding private key does not and shows this address : 1Jgt1MzurJrTHByGmBdhLc.....

I know this address (3Jnz4bDfgmB9DYiZkxZ.......) does not have a single private key (but multiple or something) which mak

[2017-10-04 10:47] blackkaaaht opened #1559 "Getting "server error" when I try to send custom tokens"
Getting ":server error" when I try to send custom tokens. This error is new. Previously this functionality worked.

[2017-10-05 17:27] blackkaaaht opened #1560 "Create Crowdsale Fails"
"Create Crowdsale" works in test mode; fails in actual mode.

https://www.omniwallet.org/assets/crowdsale

Do you have a workaround, or can you suggest another exchange that is compatible with Omni tokens?

[2017-10-09 06:42] shubidoo opened #1561 "Custom fee cannot be set below 0.0001 BTC"
Hey guys,

I just noted that when trying to send a transaction in Omniwallet, I cannot choose a custom fee below 0.0001 BTC. Is this intentional?

From the current mempool size, I would have been able to get away with less transaction fees, but I was forced to choose this amount as it wouldn't let me set a truly custom fee. I tried finding an explanation for this but was unable to do so.

I think

[2017-11-22 10:03] oketai opened #1562 "Login Malfunction: Server Error, Try again later"
Trying to log in since yesterday. Keep getting the same message "Server Error, Try again later." When will this be fixed? Thanks.

[2017-11-22 19:21] oketai commented on #1562
Anyone out there?

[2017-11-22 23:14] sgjenks01 commented on #1562
@oketai I am having the same issue for about the same amount of time, maybe a bit longer.

[2017-11-22 23:28] dacoinminster commented on #1562
Might be offline while they update the code to deal with the Tether theft

[2017-11-23 03:39] sgjenks01 commented on #1562
Interesting idea. How do you think Bitfinex getting hacked is related to OmniWallet being down?

[2017-11-23 08:34] oketai commented on #1562
The notification on the website/ login page changed. Now it says they're doing an update and that this is taking longer than expected. ETA: Nov. 27. @dacoinminster: You're right - could be that they're fixing sth related to the Tether issue. Thanks for your input. However I wish that Omniwallet people would bring some light into the dark though.

[2017-11-23 08:34] #1562 closed

[2017-11-29 23:49] zekylaf opened #1564 "Installation help"
Hi, is there a simple way to install omniwallet locally?

Thanks

[2017-11-30 00:34] dacoinminster commented on #1564
I believe the devs use virtual machines for this, but I haven't done the whole process myself.

[2017-12-17 19:40] xema2110 opened #1568 "problem wallet omni"
I have a problem of unconfirmed transactions in omniwallet 14X8b6rmcxCfbPETxjKAGaAkTsuwj3bGeP and 1Auwe3gf9YcebX3TppY9XwrFTignvyeKoC

[https://blockchain.info/address/14X8b6rmcxCfbPETxjKAGaAkTsuwj3bGeP](https://blockchain.info/address/14X8b6rmcxCfbPETxjKAGaAkTsuwj3bGeP)
[https://blockchain.info/address/1Auwe3gf9YcebX3TppY9XwrFTignvyeKoC](https://blockchain.info/address/1Auwe3gf9YcebX3TppY9XwrFTign

[2017-12-22 04:24] tuner1000 opened #1571 "lost 2fa codes, phone hard reset"
Hi,

Sorry if this has been posted before but I've lost my 2FA codes after my phone required a hard reset.  Does anyone have any advice as to how to recover my OMNI wallet account?

Cheers

Tanner

[2017-12-27 18:36] russellpwirtz opened #1574 "Error sending - "Funds could not be sent: Server error""
When trying to create an unsigned transaction in omniwallet to send BTC, I get to the end of the process, and when I click "Send" I get a red error:
"Funds could not be sent: Server error"
I've tried different amounts, different recipient addresses - all the same result.

[2017-12-31 18:36] #1568 closed

[2018-01-01 20:46] dacoinminster commented on #1574
@dexX7 or @achamely - any idea what could be going on with this?

[2018-01-11 15:47] vincentwang0736 opened #1575 "Why I got "Internal Server Error" when calling API"
hi all,
I just finished manually installing local omniwallet following tourist.
But When I call the api as "http://xx.xx.xx.xx/v1/transaction/values.json",I got "Internal Server Error".
I have installed omniwalled for a whole day.while I got this eriir in the end.my god!
Anyone can help me?

[2018-01-11 15:48] vincentwang0736 opened #1576 "How to install omniengine"
I didn't find the guide on omni's github and I failed on omni-devops...

[2018-01-11 21:25] achamely commented on #1574
@russellpwirtz the most common cause of that error is generally if your source address has an unconfirmed btc balance.
We are working to add some additional updates to properly show/differentiate confirmed balances from unconfirmed balances.
If you want to contact the  support email team: https://www.omniwallet.org/about/contact   you can provide your source address and we can check the logs to se

[2018-01-11 21:36] achamely commented on #1575
@vincentwang0736   the error can be from any number of reasons.

Unfortunately Omniwallet in its current form isn't really designed to be installed/run locally/independently as it needs to be paired with all several dependencies (omniengine, omnicored, and a corresponding database. ) Omnicored being in and of itself a standalone wallet .

If all of those are not setup properly and connected proper

[2018-01-11 21:39] achamely commented on #1571
@tuner1000 contact the helpdesk: https://www.omniwallet.org/about/contact

[2018-01-11 21:39] #1571 closed

[2018-01-11 21:41] achamely commented on #1561
@shubidoo yes this is intentional. At the moment the custom fee is not a fee/kb it is a flat fee.
The use of fee/kb is in the dynamic calculations done by the normal/fast/faster  speeds.
We will be rolling out some updates to allow for better fee handling/specifications this year

[2018-01-11 21:41] #1561 closed

[2018-01-11 21:43] achamely commented on #1559
Sorry for delayed response. That error is typical if the btc balance on your sending address is unconfirmed. Once the outstanding balance confirms you should be able to send

[2018-01-11 21:43] #1559 closed

[2018-01-11 21:46] achamely commented on #1576
please post issues to their respective projects.

[2018-01-11 21:46] #1576 closed

[2018-01-11 21:47] #1574 closed

[2018-01-11 21:47] achamely commented on #1564
@zekylaf  Unfortunately Omniwallet in its current form isn't really designed to be installed/run locally/independently as it needs to be paired with all several dependencies (omniengine, omnicored, and a corresponding database. ) Omnicored being in and of itself a standalone wallet .

If all of those are not setup properly and connected properly omniwallet won't work.
The code is currently publish

[2018-01-11 21:47] #1564 closed

[2018-01-11 21:48] achamely commented on #1560
If you tried to create tokens back to back its most likely your btc balance was still unconfirmed from the previous transaction. Once the balance confirms you would be able to continue

[2018-01-11 21:48] #1560 closed

[2018-01-11 22:00] achamely commented on #1558
@Usogeking  Sorry for the delayed response. There is a process for this though it can be a little tricky.

 - Step 1) (If you have a 2FA wallet) Create a new electrum 2FA wallet and choose the option to recover it from your recovery seed (It should ask you to disable 2fa and have the master keys
in the restored wallet. This is what you want. Once created make sure the address you are recovering fr

[2018-01-12 08:46] vincentwang0736 commented on #1575
thank for your reply and I also want to know if I want to run omniwallet locally,must I install omnicore and synchronize  all the 177g data?

[2018-01-12 08:47] vincentwang0736 opened #1577 "if I want to run omniwallet locally,must I install omnicore and synchronize all the 177g data?"
if I want to run omniwallet locally,must I install omnicore and synchronize  all the 177g data?

[2018-01-12 10:40] dexX7 commented on #1577
See: https://github.com/OmniLayer/omnicore/issues/534

[2018-01-12 11:51] #1577 closed

[2018-01-12 11:52] vincentwang0736 opened #1578 "something wrong when calling the apis of omniwallet"
something wrong when calling the apis of omniwallet
After installing omniwallet in ubuntu16.04, I tried on calling a getting api on my browser:

But I got "502 Bad Gateway"

/var/log/nginx/error.log putput:

And I didn't found uwsgi's log file ,So I want to ask where is uwsgi's log file by the way.
And what's the matter about 502 Bad Gateway？
thanks a lot!

[2018-01-12 13:18] Usogeking commented on #1558
Hey Adam,

Thank you for your reply. I followed all your steps to the best of my ability and adapted for my other address that holds 3590 MAID: ```36kGXoWWmTrNsg92jk1GXNcPwkW5zDfiwG```

However, when I try to preview the transaction, Electrum warns me that the first line is invalid.
![image](https://user-images.githubusercontent.com/31544146/34876757-4cc46172-f7a3-11e7-8214-ba42db06960b.png)

Do y

[2018-01-12 16:12] achamely commented on #1575
Yes

[2018-01-12 16:12] #1575 closed

[2018-01-12 16:17] achamely commented on #1558
@Usogeking what version of electrum are you using?

[2018-01-12 21:48] Usogeking commented on #1558
Hey @achamely,

I tried it again on my desktop and it worked!!! I succesfully made two transactions from my wallet.
Thank you so much for your time and help 😄

[2018-01-12 21:51] achamely commented on #1558
awesome glad you were able to recover the funds :+1:

[2018-01-12 21:51] #1558 closed

[2018-01-15 21:00] ubuntuser11 opened #1586 "Sent Maidsafe to GreenAddress"
Hello,

I transferred some Maid from Polonex to a Greenaddress multisignature wallet. For the Greenaddress the receiving address for multisig 2/2 starts with a 3 and I can not find the private key using all methods including using 24 word mnemonic bip-32. But is when adding the public key (that starts with 3) to Omni wallet it does show me  the Maid balance and history.  I also did greenaddress "g

[2018-01-17 18:01] vincentwang0736 opened #1587 "where is sql.conf"
I build omniwallet project manually.But I can't find sql.conf mentioned in
api/sqltool.py line9:
with open('/home/'+USER+'/.omni/sql.conf') as fp:
So I got 502 bad Gate when I calling apis.
Anyone have ome ideas,thanks a lot

[2018-01-23 15:11] compilenewbe opened #1590 "Omnicore Shutdowns unexpectedly"
So I run omnicore and start downloading the blockchain without any problems, but after some time, omnicore shutdowns unexpectedly, I open the debug.log and this is what I got

2018-01-23 14:48:18 UpdateTip: new best=000000000a8cbbd35c1c3d35ad04c5e711a8cf3ac4ab5dec395eeefaab2611bc height=11688 version=0x00000001 log2_work=45.512886 tx=11792 date='2009-04-21 00:11:07' progress=0.000026 cache=2.7MiB(

[2018-01-23 15:23] achamely commented on #1590
@compilenewbe this is the wrong repo for this issue. Omnicore released issues need to be posted to https://github.com/OmniLayer/omnicore/issues

[2018-01-23 15:23] #1590 closed

[2018-02-01 14:34] ubuntuser11 commented on #1586
@achamely  Very happy. Thanks a lot. Where will I be sending the information? Will it be direct to you?

[2018-02-01 17:04] achamely commented on #1586
@ubuntuser11 You can use the omniwallet support email from https://www.omniwallet.org/about/contact
and we can manage the process through there for security

[2018-02-02 05:12] Govind13100 opened #1592 "What about Windows ???"
What one will do if he/she want's to generate omni wallet in windows ?????

[2018-02-05 08:51] senges opened #1593 "Wallet not loading"
Wrong section. Sorry.

[2018-02-05 12:28] #1593 closed

[2018-02-09 19:00] ubuntuser11 commented on #1586
@achamely  Thanks a lot. I will provide the information to your omniwallet.org contact address as you recommend.  This is great.  I will note it here in Github when I send the email. Thanks a lot.

[2018-02-22 15:07] JavierMoralesEstevez opened #1596 "{{'COMMON.LOADING' | translate}} error in firefox, chrome,.."
Hello,
I have installed omniwallet and I get an error when trying to run the page, I have updated firefox and installed chrome, but the message still appears in both browsers. I have also erased the browser cache, but without solution.

I have seen the thread # 1344 but it does not seem that there is a solution for me.

Any ideas? maybe I should install before omnicore?

thanks greetings.

[2018-02-23 13:44] achamely commented on #1596
At this time omniwallet is not designed for local installation. it is provided for reference/code audit only.
We are working on some updates to allow it to be a bit more modular in the coming months and will announce accordingly when that is ready

[2018-02-23 13:44] #1596 closed

[2018-02-23 13:46] achamely commented on #1578
At this time omniwallet is not designed for local installation as you actually need to have omniwallet, omnicore, omniengine and the omnidatabase setup, synced and current for things to work. it is provided for reference/code audit only.
We are working on some updates to allow it to be a bit more modular in the coming months and will announce accordingly when that is ready

[2018-02-23 13:46] #1578 closed

[2018-02-23 13:46] achamely commented on #1592
Omniwallet is a web wallet that is usable in any browser (including windows).
just go to omniwallet.org to use the site

[2018-02-23 13:46] #1592 closed

[2018-02-23 13:48] achamely commented on #1552
It means you have 0 bitcoin in your sending address. All transactions on the Omni Protocol need bitcoin in order to be created and sent.
If you fund that address with the required/specified amount of BTC you will be able to continue

[2018-02-23 13:48] #1552 closed

[2018-02-24 06:27] 721121 opened #1597 "Accidentally deposited USDT in My BTC address in GDAX"
and now my money appears in tetherUS(#31) I do not know how to recover my money, someone could please explain my steps to recover my money

[2018-03-05 21:14] XBase-xOR commented on #1552
As I have written the address was funded with 0.0005 BTC while the error message says I needed 0.0002067 - so the same interface that reported "Have: 0" also reported I have 0.0005 BTC. You don't see this as an error and just close the case? Meh.

[2018-03-07 07:11] aghamir commented on #1287
What is the status of this issue. It's crucial feature for cold storage wallets.

[2018-03-07 07:39] aghamir opened #1598 "Offline Transaction"
Is there offline sign transaction like electrum in this wallet? I want to create airgapped cold storage wallet for USDT. Can you help me to reach my goal?
Thanks a lot.

[2018-03-09 08:43] 721121 opened #1600 "D"

[2018-03-09 16:50] achamely commented on #1597
Unfortunately you have sent your tokens to a wallet/service (Coinbase/Gdax) that does not support the Omni Protocol and there is little that can be done without the direct involvement of their support team. All Omni Protocol tokens, Like Tether, are owned/controlled by the address they currently exist on. In your case you sent them to an address owned/controlled by Coinbase/Gdax. In order to move

[2018-03-09 16:50] #1597 closed

[2018-03-09 16:55] achamely commented on #1552
@XBase-xOR sorry let me clarify
I do see that it is possible at the moment for there to be a difference in displayed balance and usable balance.
When sending a tx the underlying btc needs to be confirmed for the tx to be creatable.
The error message you listed indicates you had an unconfirmed/pending balance that was not yet usable.

[2018-03-09 16:57] achamely commented on #1598
@aghamir Yes, we have a write up in our wiki: https://github.com/OmniLayer/omniwallet/wiki/Armory-Offline-Addresses

[2018-03-09 16:57] #1598 closed

[2018-03-09 16:58] achamely commented on #1600
@721121 please contact our support email for more assistance: https://www.omniwallet.org/about/contact

[2018-03-09 16:58] #1600 closed

[2018-03-10 09:35] XBase-xOR commented on #1552
@achamely That makes a lot more sense. Thanks for the clarification.

[2018-03-10 15:30] aghamir opened #1601 "BIP32 extended public key"
Is it possible to add BIP32 extended public key support for offline transaction?

[2018-03-16 13:59] TOXANNN opened #1602 "HELP ME"
THIS MESSAGE DELETE

[2018-03-29 16:04] #1602 closed

[2018-04-12 07:41] huangyemin opened #1614 "Can not create wallet"
HI, I can not create a new wallet when I follow the instruction in wiki. The problem is after input right password and email, the create wallet button is not enabled

[2018-04-18 21:30] Sprkz opened #1625 "Mismatching time stamps on Omni Wallet TX 'History' compared to BTC explorer"
On 2 of my TXs I have seen mismatching timestamps (see examples below).  On Omni wallet 'History' in gives a date of 20th jan where bitcoin explorers say 3rd Jan.  and other Omni gives 1st Jan , when the other Exlorers say 18th December.

https://www.blocktrail.com/BTC/tx/ad40ce1ef02640d966bbc80d443f4b11ef7a8dc5d2f31312dff8f94a90428aff
https://www.blocktrail.com/BTC/tx/41783a94b8c7857b0db1a06e455c

[2018-04-29 09:01] AxlMaid opened #1634 "Error in omni_createrawtx_opreturn RPC call: {u'message': u'Transaction deserialization failed', u'code': -22}"
Hello,

I am trying to send a few MaidSafeCoin from Omniwallet to Poloniex but I always get the following error message: "Error in omni_createrawtx_opreturn RPC call: {u'message': u'Transaction deserialization failed', u'code': -22}"

Can you please help?

Thank you,

<img width="592" alt="maid" src="https://user-images.githubusercontent.com/30219645/39404967-a0ed5bd0-4b9c-11e8-9715-fab6ac2d7e1b.p

[2018-04-30 14:34] skinderis opened #1635 "Do I need to download the blockchain if I have already running full bitcoin node?"
Hey guys,

I have fully synced bitcoin blockchain on my server. As I found out the omnicored uses bitcoin blockchain. So the question is do I have to download blockchain again If I already have downloaded full bitcoin blockchain?

Thank you!

[2018-04-30 14:35] #1635 closed

[2018-05-01 09:22] nikolobok opened #1638 "Active order cancel error"
: Transaction rejected by the network. Reason: 64: scriptsig-not-pushonly

[2018-05-07 16:04] achamely commented on #1614
please make sure their are no other errors being displayed (about mismatched or insecure passwords) and ensure you have completed the captchay check box. if you continue to have issues please reach out to our support team email and send them a screenshot of what you are seeing

[2018-05-07 16:06] achamely commented on #1634
@AxlMaid This issue should be fixed in the most recent patches we pushed last week. Can you please try again and close this issue if everything works

[2018-05-07 16:07] achamely commented on #1638
@nikolobok this should be fixed in the most recent patches we pushed. Please try again and close this issue if everything is working

[2018-05-08 03:03] AxlMaid commented on #1634
Hello Adam,

As I was telling you last week all works fine now.

Thank you,

Alexandre

On Mon, May 7, 2018 at 12:06 PM, Adam <notifications@github.com> wrote:

[2018-05-14 18:47] phungcorporation opened #1641 "OmniLayer"
@andrewrothman

[2018-05-14 22:39] #1634 closed

[2018-05-23 10:13] adaipan opened #1642 "privkey from bitcoincore import to omnicore success but the Address is not same with bitcoincore address"

[2018-05-23 19:21] achamely commented on #1642
Issues opened here are for Omniwallet not Omnicore.
Is your difficulty for Omniwallet or Omnicore?
If your difficulty is with Omnicore, please close this issue and repost in the Omnicore repo: https://github.com/OmniLayer/omnicore/issues
If your difficulty is with Omniwallet then please elaborate a little more on what you are doing and provide a step by step list of what you did leading up to your

[2018-05-23 19:21] achamely commented on #1642
@adaipan
Issues opened here are for Omniwallet not Omnicore.
Is your difficulty for Omniwallet or Omnicore?
If your difficulty is with Omnicore, please close this issue and repost in the Omnicore repo: https://github.com/OmniLayer/omnicore/issues
If your difficulty is with Omniwallet then please elaborate a little more on what you are doing and provide a step by step list of what you did leading u

[2018-05-24 07:41] adaipan commented on #1642
privkey from bitcoincore import to omniwallet success but the Address is not same with bitcoincore address
my bitcoin core address is 356fzuNpDsddcdbUKznWM7JCjnPXvm2y7e after import private key, the omniwallet address change to 1KyW5PnfNSR27qCu21UvNXcY932xeDbdXD

[2018-05-24 16:35] achamely commented on #1642
As you have already opened a support ticket with the staff we will close this issue to remove duplication as there is no bug with the platform, this is an issue with use of segwit address which is different

[2018-05-24 16:35] #1642 closed

[2018-06-07 19:58] #1641 closed

[2018-06-07 19:58] #1638 closed

[2018-06-07 19:59] #1614 closed

[2018-06-07 19:59] #1586 closed

[2018-06-13 06:31] qshuai opened #1650 "Please update the installation document! Thanks"

[2018-07-05 06:56] aghamir commented on #1494
I have the same problem:
![image](https://user-images.githubusercontent.com/1880925/42306650-1cedbf90-8045-11e8-898a-33977b64ebfb.png)

I believe that occurs because of old armory(See https://github.com/goatpig/BitcoinArmory/issues/501).
It raises bad gateway when posting request to https://www.omniwallet.org/v1/armory/getunsigned. I think if omnilayer update armory(new repo) this will be solved.

[2018-07-08 07:40] #1650 closed

[2018-07-16 09:52] qianzhihui opened #1658 "how to create wallets programmatically? like Blockchain Wallet API"

[2018-07-24 06:35] munesu180290 opened #1661 "Problem with transaction"
I made a withdrawal of 96USDT from my binance account into coincola. Unfortunately did not notice that the minimum deposit was 100USDT now I cannot find the funds. Is there a way to get the funds.

the Txid is : 741c788c566ebd5acfd57a4e74512a633887f72a340a19557efdbb794cb24f9a

[2018-07-24 08:31] munesu180290 commented on #1661
Hi

They said transactions are not accumulative so that isn’t an option. Is there any other way?

Regards

Walter

[2018-07-24 10:10] dexX7 commented on #1661
Well, in this case I recommend not to use their service anymore, because that doesn't make much sense, at least to me.

The Omni Layer is balanced based and the total balance is the same, whether they receive an amount in one, or in multiple, transactions.

[2018-07-24 10:12] munesu180290 commented on #1661
So its their platform that is ripping me off in this case? Figured as much

Thanks a lot for your assistance

Regards

Walter

[2018-07-24 10:35] dexX7 commented on #1661
I don't know anything about their intentions, nor have I heard about their platform, but this certainly is odd and doesn't make much sense - at least to me, based on the given information.

[2018-07-24 19:43] achamely commented on #1661
While not uncommon we have seen some services have a minimum deposit amount. Unfortunately there is nothing we can do as they control their own platform and make the rules for their customers. The best we can recommend is asking them nicely to make an exception to their rules

[2018-07-24 19:43] #1661 closed

[2018-07-24 19:45] achamely commented on #1597
@gelinasgm unfortunately no
If you sent the funds to a coinbase address, Coinbase would have to be willing to work with you/us for any recovery options. If they are not then the funds are essentially stuck

[2018-07-24 19:46] achamely commented on #1658
@qianzhihui  At present we do not offer programmatic wallet creation

[2018-07-24 19:46] #1658 closed

[2018-07-24 19:48] achamely commented on #1494
This should have been already resolved in previous updates. if you continue to have issues please reach out to our support team

[2018-07-24 19:48] #1494 closed

[2018-07-31 12:10] Harry30000 opened #1664 "can't get address affter deposit"
I can created address from Omni core , but after deposit  to this address and check again on server but can't find this address. i'm using email to check again but address changed .  Pls help me !

[2018-08-09 04:09] cryptonana opened #1665 "Own Coin"
hello dear i have my own coin can i setup with omniwallet?

[2018-08-09 10:41] wyh00544 opened #1666 "omni_send转账不成功"
有0.0002个BTC，转账报Error with selected inputs for the send transaction

[2018-08-09 17:32] dexX7 commented on #1666
Hi @wyh00544,

please see:

https://github.com/OmniLayer/omnicore/wiki/Why-do-I-need-bitcoin-to-create-Omni-transactions%3F

Now in this particular case, it might be that your fee settings/estimation is too high, so 0.0002 BTC are not considered enough.

[2018-08-18 14:20] CryptoVang opened #1669 "send 1200$ but recive 1$ in my btc wallet!!! help"
https://omniexplorer.info/tx/819b57683574a9c1104f1a9c4647174482580cc3dcd74ff8e1d32b7845ec1827
this my hash help me please

[2018-08-18 22:13] CryptoVang commented on #1669
send usdt omny from coinomi wallet , to btc adress in dsx ((( help to resolve problem

[2018-08-21 14:55] dexX7 commented on #1669
Hi, please see:

https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F

[2018-08-23 19:47] #1669 closed

[2018-08-23 19:50] achamely commented on #1665
Omniwallet already supports Bitcoin, OMNI and any coin issued/created on the Omni protocol. If you created a coin on the Omni protocol then it can already be used with Omniwallet.org normally.

[2018-08-23 19:50] #1665 closed

[2018-08-23 19:50] #1666 closed

[2018-08-23 19:51] #1664 closed

[2018-09-10 09:27] gggin commented on #118
http://testnet.omniwallet.org/ is down. Is there any other website?

[2018-09-11 14:51] achamely commented on #118
@gggin no, we currently are not offering a testnet version of the wallet at this time

[2018-09-12 03:44] gggin commented on #118
OK then I'm trying to setup a omni-core.

[2018-09-14 05:26] CockyCat opened #1670 "Can's transfer, show error "Transaction rejected by the network. Reason: 64: scriptsig-not-pushonly""
I have a issue in use www.omniwallet.org:

I just import private from bitcoincore to www.omniwallet.org and imported is sucess, I can see my balance.

Then Im transfer USDT,but show error ": Transaction rejected by the network. Reason: 64: scriptsig-not-pushonly".

What's wrong for this ?

Please help me, Thank you very much.

[2018-09-17 12:18] NickLambert opened #1672 "Wallet error: 'List out of Range'"
![image](https://user-images.githubusercontent.com/6389676/45622435-e32e3480-ba7b-11e8-8927-6f0d98187e08.png)

Wallet has failed to send MAID with the same error 'List out of Range'. Have been able to reproduce twice on OSX 10.13 running Chrome Version 68.0.3440.106. Have also been able to reproduce on Windows.

[2018-09-17 13:59] gillbates commented on #1672
same here, I cannot send usdt now ~~~

[2018-09-20 17:38] achamely commented on #1672
@NickLambert  @gillbates  This was related to the outage we had that day. If you refresh/try again now you should be able to proceed without any difficulties.

[2018-09-20 17:38] #1672 closed

[2018-09-20 19:46] NickLambert commented on #1672
Yes working now, thanks for following up @achamely !

[2018-10-20 11:32] Bakhtsalimkhan commented on #1511
binance key.....1FoWyxwPXuj4C6abqwhjDWdz6D4PZgYRjA
blockchain key....1LhPCNrBNoSVdRfUii2JbYydE7AqxzeZbd
 isend  btc to my blochaian  wallet. but mistakly  i send usdt in blochain  id. but now  show  ominwallet. how can i reverse my usdt to my binance wallet plz help me. i attach my full history.

[2018-10-20 11:35] Bakhtsalimkhan opened #1673 "reverse my funds"
binance key.....1FoWyxwPXuj4C6abqwhjDWdz6D4PZgYRjA
blockchain key....1LhPCNrBNoSVdRfUii2JbYydE7AqxzeZbd
isend btc to my blochaian wallet. but mistakly i send usdt in blochain id. but now show ominwallet. how can i reverse my usdt to my binance wallet plz help me. i attach my full history. 650usdt

[2018-10-31 09:53] romever opened #1674 "Whether the official wallet supports Segregated Witness"
Now I have an address like "33AbVYAKBNaR2spub8VU7JC6eUNJG7B9qu" from other bitcoin wallet.I got a private key from website "https://iancoleman.io/bip39/" with BIP39 Mnemonic.Then I could get this address with BIP49.And I can also got private key matched this address.But when I used this private key import "omniwallet.org",I got an address like "1PeFEK49wUeQ8Xg9hiX5DhDcqoNqu6fbBt". How can I get Se

[2018-11-01 13:20] achamely commented on #1674
@romever At the moment the wallet does not support importing segwit addresses. Please take a look at our support wiki article on recovering funds from a segwit address as an interim option: https://github.com/OmniLayer/omniwallet/wiki/Recovering-funds-from-a-Segwit-Address

[2018-11-01 13:20] #1674 closed

[2018-11-01 13:22] achamely commented on #1673
@Bakhtsalimkhan We do not have the ability to reverse any transaction. If you accidentally sent USDt funds to your blockchain.info/.com  wallet address then you will need to take a look at the support article on how to export your private key and recover the funds manually: https://github.com/OmniLayer/omniwallet/wiki/Exporting-Private-Key-from-Blockchain.info-and-Importing-to-Omniwallet.org

[2018-11-01 13:22] #1673 closed

[2018-11-04 20:27] midani81 opened #1675 "more transfer"
How can I make more than one transfer at the same time from the same wallet ?
While I wanted to program a site that supports a CHILD WALLET for each member of my site, it may be that I have checked out more than one member at the same time

[2018-11-06 19:59] deounix opened #1677 "How can I create child wallet from public key?"
How I can create child wallet from public key ?

Let's say that I've this address: 1MhRpv6wzbn7KsfDvbD4aEUkkJvdZp4Zoa
And this public key: 047FD2EC226707E9CA81B7253A24A46D5903AE678773E4F90DE7BF98D5B93C1F4C7F7571C0BBB30603B27576A91A1400B9A93BE06C126FEB6A376A60A6B2F85C29

So I want to create children wallets on this address: 1MhRpv6wzbn7KsfDvbD4aEUkkJvdZp4Zoa
So every one send usdt to this children

[2018-11-08 23:04] macrotea commented on #1675
i have the same question

[2018-11-13 07:53] Pz9524 opened #1686 "Error in omni_createrawtx_reference RPC call: {u'message': u'Transaction deserialization failed', u'code': -22}"
I'm trying to send some omniBit that propertyId is 2 in testnet,but it always return the error ` {u'message': u'Transaction deserialization failed', u'code': -22}` when i call the operation "omni_createrawtx_reference".
`String reference = (String) client.invoke("omni_createrawtx_reference", new Object[]{opreturnResult, toAddress}, Object.class);`
Please help me.
Thank you!

[2018-11-20 14:54] forever85222x commented on #1243
我也是24小时了急

[2018-11-29 09:02] gillbates opened #1693 ""error": "Not enough funds, try again. Needed: 0.00008987999999999999495867240157 but Have: 0.00000546""
Dear OmniWallet Team,

When I try to send usdt to my other wallet, the system will return ""error": "Not enough funds, try again. Needed: 0.00008987999999999999495867240157 but Have: 0.00000546" after send.
However I have more than this on address for both btc and usdt.  Any ideas why?

[2018-12-06 18:32] prusnak opened #1694 "Trezor support"
Since the new firmware (1.7.2 and 2.0.10) Trezor does support Omni layer. It should be pretty straightforward to get Trezor working in Omni using Trezor Connect: http://github.com/trezor/connect

[2018-12-21 17:03] boonlannis commented on #1694
Really excited to see some progress made towards integrating Omni within the Trezor wallet! I'm sure there are plenty of use cases but I know the community over at MaidSafe are excited to see this as well. See the thread here: https://safenetforum.org/t/trezor-support-for-omni-and-main/26816/8 and here: https://safenetforum.org/t/trezor-and-maidsafecoin/18850/19 and here: https://safenetforum.org/

[2018-12-22 11:03] DavidMc0 commented on #1694
After seeing work on hardware wallet support mentioned numerous times on Omni's state of the layer updates, its a shame they haven't kept up with Trezor on supporting this feature as soon as Trezor implemented it.

Looking forward to a working Omniwallet for Trezor, and any updates about the priority this will be given / time frames if possible.

[2019-01-07 09:04] gaoShuaiGitHub opened #1696 "How to Recovering funds from a Segwit Address?"
hi:

i have read the article of "Recovering funds from a Segwit Address"
link：https://github.com/OmniLayer/omniwallet/issues/new
but my question is a bit different.
i sent the USDT to segwit address of the UBTC.
(USDT address like this:17tHuQJgUB77bgkNopT2baNN9CMvSQpjHX.
UBTC address like this:3QQQE2qHjjzcEfUmDcUxx6LRFPKHxV4UtS)
do you know how i can get back my usdt?
I am very anxious, thank you

[2019-01-07 09:05] gaoShuaiGitHub commented on #1696
sorry  i have a mistake .the right link is:https://github.com/OmniLayer/omniwallet/issues/1696

[2019-01-10 14:50] achamely commented on #1694
@prusnak yup, we saw the updates and are working internally on this and should have something in the next few weeks

[2019-01-10 15:03] achamely commented on #1696
@gaoShuaiGitHub if you read through the instructions on https://github.com/OmniLayer/omniwallet/wiki/Recovering-funds-from-a-Segwit-Address it does show on step 3 that in order for the recovery method to recognize a segwit address starting with 3 you need to import the private key with the p2wpkh-p2sh: prefix.  That should allow you to continue as expected.

[2019-01-10 15:04] achamely commented on #1686
@Pz9524 sorry for the delayed response.
After reviewing your question this does not appear to be related to omniwallet.
Please post your questions to the https://github.com/OmniLayer/omnicore repo for a proper response

[2019-01-10 15:07] achamely commented on #1693
@gillbates sorry for the delayed response.
The most common cause of that error is because the btc funds on your address might still be unconfirmed.
Omniwallet can only create txs from confirmed funds so if your btc is still unconfirmed wait for it to confirm then try again.
Also, When creating an omnilayer transaction you will need both BTC and the token you are sending and they are not interchang

[2019-01-10 15:07] #1693 closed

[2019-01-10 15:09] achamely commented on #1677
@deounix sorry for the delayed response, unfortunately this is not possible.
On the Omni Protocol transactions are sent to a specific address and the funds are owned controlled only by the address they are sent to.
You can not send funds to one address and have them credited to another. if you want the USDt to be received by 1MhRpv6wzbn7KsfDvbD4aEUkkJvdZp4Zoa, it needs to be sent to 1MhRpv6wzbn7Ks

[2019-01-10 15:09] #1677 closed

[2019-01-10 15:13] achamely commented on #1675
@midani81 @macrotea  sorry for the delayed response.
Omniwallet uses your addresses confirmed transactions when it creates a transaction.
Depending on how many different BTC transactions were sent to your wallet will determine how many transactions you can create at a time.
An option to enable multiple txs at once would be to send a few different btc transactions to your address of around 0.001 ea

[2019-01-10 15:13] #1675 closed

[2019-01-10 15:15] achamely commented on #1670
@CockyCat sorry for the delayed response, that error generally means the tx you are trying to broadcast was signed incorrectly. Can you please reach out to our support department email and provide the address you were trying to send from so they can check and see what might be happening.

[2019-01-10 15:15] #1670 closed

[2019-01-11 20:15] felipematheus opened #1698 "Http error 429"
Description
We are using the omniexplorer api to manage usdt coins on our wallet, Lunes (https://luneswallet.app). Recently our requests to the omniexplorer api, on the endpoint https://api.omniwallet.org/v1/transaction/getunsigned/0 for example, have been receiving an error message as a response with the following content after making only one request to the omniwallet api. The user base of our w

[2019-01-11 21:44] achamely commented on #1698
@felipematheus
If you check the api documentation you'll notice this endpoint is not listed because it has not yet been refactored to be ready for public use.
Specifically, the error you are seeing is not actually from us as we were also having to use external apis during some of the transaction creation calls to get lists of unspent tx's and this is not scalable publicly.
Unfortunately even thoug

[2019-01-11 21:56] #1696 closed

[2019-01-12 06:48] petercgee opened #1699 "Omniwallet Issue"
Due to a change of mobile phone I disengaged the MFA on the old one to set it up again on the new one but despite doing this through my Account settings the MFA is still being requested when logging in preventing access.

[2019-01-14 18:47] achamely commented on #1699
being handled via support email

[2019-01-14 18:47] #1699 closed

[2019-01-18 21:56] achamely commented on #1696
@gaoShuaiGitHub it should be possible to still use this process to with an offline wallet with a little modification.

You'll need to install electrum on both your Offline and Online computers.
On your Online computer instead of creating the wallet with the private key you'll add just your segwit address
On your offline computer you'll import the segwit private key according to the normal instruct

[2019-01-21 12:15] gaoShuaiGitHub commented on #1696
If I can't use electrum, I can only use the bitcoin-cli command on an offline computer. What should I do?

[2019-01-23 13:16] achamely commented on #1696
@gaoShuaiGitHub reach out to our support team email address https://www.omniwallet.org/about/contact and provide them with the address you sent the funds to (where the usdt currently are stuck) and where you want to recover/have the usdt moved to.  We can create the transaction manually for you and provide you with the signing instructions needed to use an offline bitcoin-core client to sign the t

[2019-01-25 08:50] raulosuna commented on #1694
Just updating this thread to show the interest of the community in having this feature implemented. Keep up with the hard work! :+1:

[2019-01-27 08:36] gaoShuaiGitHub commented on #1696
Thank you very much, in the communication with you, I am also actively seeking ways, and finally the special application to use the btc electurm client to complete the signature and retrieve the usdt. thank you very much！

[2019-02-12 05:27] kemoantemo opened #1702 "weird display proplem"
![omni wallet](https://user-images.githubusercontent.com/19779701/52613644-6f138380-2e97-11e9-8aab-3af456862891.PNG)
why the wallet is displayed like this also this problem exist in my phone chrome android 7.0

[2019-02-13 15:53] achamely commented on #1702
@kemoantemo what you are seeing are the translation placeholders. But those should not be displayed as the system should automatically display the correct titles/words based on the region that is being requests.
Can you please confirm what language or region your device is set for?

[2019-02-19 07:39] MohseniBigBoy opened #1704 "omnicore change file permision after copy blockes from another HDD"
I use Omnicore (both testnet and mainnet) and everything is OK.
I use another HDD to lunch Omnicore in another PC, so I copied the blocks from the previous HDD to the new HDD, when I lunched Omnicore in the new PC, I see the block files permission changed to **+777**.
I tested this work with some HDD but accrued same event.
when I test on another coins such as Bitcoin, Litecoin, Dash, ... this eve

[2019-02-19 17:23] jmcmichael opened #1705 "omniwallet.org support request"
Hi, I hate to use the github issue system for this, but my support ticket submitted through the omniwallet.org support system has remained unanswered for close to a month and I am not aware of any other method for contacting the site administrators.

I've lost my MFA key due to a destroyed cellphone, and need to remove and/or reset it in order to regain access to my account. The support ticket num

[2019-02-19 17:24] jmcmichael commented on #1705
oops nevermind, I see that they have responded.

[2019-02-19 17:24] #1705 closed

[2019-02-20 16:01] achamely commented on #1704
Please post Omnicore questions to the omnicore project https://github.com/OmniLayer/omnicore/issues

[2019-02-20 16:01] #1704 closed

[2019-02-25 18:41] rid-dim commented on #1694
Hmm - any updates on this topic?

[2019-03-05 17:22] achamely commented on #1694
Still in progress internally

[2019-03-06 07:46] prusnak commented on #1694
@achamely Why don't you develop in the open? This is not how a project that claims to be open-source should be developing things.

[2019-03-06 14:13] achamely commented on #1694
@prusnak when i say still in progress internally i mean there is nothing yet ready for public display. We are working on an integration that is testable/usable.
Once code is ready for public use it will be published openly in the repo

[2019-03-09 10:20] mrzhengrui opened #1707 "How to transfer funds from multi source address?"
I have many addresses which all have less funds, but how can I transfer these funds to one address in one time to save fee? I don't want to make many transfers.  In other words, to gather parts into a whole. This situation always happen in withdrawal  in exchange.

[2019-03-12 16:30] achamely commented on #1707
@mrzhengrui unfortunately you currently can not, there is no send 'from many' type of transaction yes, it is still currently in development.
For now you will have to send from each address, one at a time.

[2019-03-12 16:30] #1707 closed

[2019-03-15 20:23] kemoantemo commented on #1702
my device usually english but i'm from egypt and we talk arabic so maybe some settings may refer to arabic regions

[2019-03-18 13:19] achamely commented on #1702
@kemoantemo thank you, we were able to isolate/find the issue in the arabic translation file that was causing the problem and have corrected it. you should see things displayed normally now

[2019-03-18 13:19] #1702 closed

[2019-03-20 02:33] projectoblio commented on #1288
What is the difference between reserve balance, frozen balance, and normal balance? Thanks

[2019-03-21 18:00] achamely commented on #1288
@projectoblio
Normal balance is a balance that is immediately usable and has nothing affecting it.
Reserved balances are balances that are currently locked/tied up in an omni protocol process (like offered for sale on the exchange or similar)
Frozen are funds that have been explicitly locked/frozen by the token issuer and can not be moved or used unless unfrozen by the token issuer.

[2019-03-21 18:00] #1288 closed

[2019-03-23 22:53] Doublef1000 opened #1710 "trouble recovering funds"
Hello, december 2017 I sent 1776 tethers worth 1800 usd to a bitcoin wallet accidentally. Recently I tried to recover them using omniwallet however when I try to upload my btc wallet to recover the funds they say that the btc adress is not valid. Please could anyone assist me

[2019-03-25 15:32] achamely commented on #1710
@Doublef1000
the bitcoin wallet you sent the funds to, which wallet/software is that?

[2019-03-25 22:10] Doublef1000 commented on #1710
it was a copay adress
________________________________
De : Adam <notifications@github.com>
Envoyé : 25 mars 2019 11:32:06
À : OmniLayer/omniwallet
Cc : Doublef1000; Mention
Objet : Re: [OmniLayer/omniwallet] trouble recovering funds (#1710)

@Doublef1000<https://github.com/Doublef1000>
the bitcoin wallet you sent the funds to, which wallet/software is that?

—
You are receiving this because you w

[2019-03-26 18:56] achamely commented on #1710
@Doublef1000 copay/bitpay wallets have a format that is not directly compatible with omniwallet. However it is possible to convert the private key. Please take a look at our support article on recovering funds from a copay/bitpay wallet: https://github.com/OmniLayer/omniwallet/wiki/Finding-and-Exporting-your-private-key-from-Bitpay-Copay
If you have issues let us know otherwise we'll close this is

[2019-03-29 22:26] DrGambler opened #1712 "Error sending, "Funds could not be sent" "Not enough funds""
I'm trying to send to an adress and it gives me an error code eventhough I have enough money in my wallet.

Funds could not be sent: {'status': 'NOT OK', 'error': 'Not enough funds, for 1GjZhoCyNaQse1vQEZzynDbpPzwuMvejYH. Needed: 512846 but Have: 0'}

[2019-04-03 05:33] initsysctrl commented on #1319
you need use cli "walletpassphrase password timeout" to unlock wallet

[2019-04-04 07:09] plusor opened #1713 "How to recovering funds from a segwit address by code?"
RT

[2019-04-07 20:43] triamazikamno opened #1714 "API '/v2/address/addr/' always returns error: "This endpoint accepts at most 20 addresses.""
API endpoint `/v2/address/addr/` used to work well until recently, now it always returns error  "This endpoint accepts at most 20 addresses."
Error occurs even for the example request from the doc https://api.omniwallet.org/#request-v2-address-addr
[code]

[2019-04-08 15:24] achamely commented on #1714
@triamazikamno the issue is fixed and the endpoint is working as documented again

[2019-04-08 15:24] #1714 closed

[2019-04-08 15:25] #1710 closed

[2019-04-08 15:26] achamely commented on #1713
@plusor the only example we have for segwit recovery is documented here https://github.com/OmniLayer/omniwallet/wiki/Recovering-funds-from-a-Segwit-Address

[2019-04-08 15:26] #1713 closed

[2019-04-10 21:09] kwests commented on #1694
Hope to see some progress soon.

[2019-04-25 08:49] PlusLQM opened #1719 "Failed to load freeze state from levelDB. It is unsafe to continue."
Failed to load freeze state from levelDB. It is unsafe to continue.

[2019-04-30 11:12] lifengllk opened #1720 "can't login--website down"
can't login now

https://www.omniwallet.org/

shows page below:

{{success.message}}, {{ 'MODALS.CONFIRM.CHECK' | translate }} {{ 'MODALS.CONFIRM.HERE' | translate }}.×
{{error.message}} ×
{{ 'COMMON.LOADING' | translate}}...

[2019-04-30 11:18] lifengllk commented on #1720
![image](https://user-images.githubusercontent.com/358433/56958362-b5b27900-6b7c-11e9-89d2-c4eecd0b650c.png)

[2019-04-30 17:12] achamely commented on #1719
https://twitter.com/Omni_Layer/status/1121412541136216064

[2019-04-30 17:12] #1719 closed

[2019-04-30 17:15] achamely commented on #1720
@lifengllk can you confirm what language/region/locale your browser is trying to request?
This appears to be an issue specific to one of the translation files.

[2019-04-30 17:16] #1698 closed

[2019-05-17 13:47] rid-dim commented on #1694
?

[2019-05-17 15:05] prusnak commented on #1694
@achamely can you update the situation about the integration you are supposedly working on?

[2019-05-22 07:10] luongnguyenduc opened #1728 "What is the complexity of sopporting SegWit addresses?"
As my understanding, supporting SegWit addresses (P2SH) is simple with OmniCore, why does not OmniWallet support it yet? What is the complexity behind that?
I am asking this question because I need to determine which address type should be used in my system,
Thanks a lot.

[2019-05-27 11:28] kwests commented on #1694
would be great to hear from you. 👍

[2019-06-14 16:35] stahl87 opened #1731 "i cant loggin and i hawe no mail with my id there i haw wrotit don befor but its the right adress but its still dosent work to logg in"

[2019-06-17 14:49] achamely commented on #1731
@stahl87 please contact the helpdesk support email for assistance: https://www.omniwallet.org/about/contact

[2019-06-17 14:49] #1731 closed

[2019-07-17 20:52] boonlannis commented on #1694
Hi Team - any updates on this? I have to admit it is a bit disappointing as the first update from @achamely stated they may have an update within a few weeks, yet that was back in January. Curious if the issue is technical in nature, lack of funds, competing priorities, or (I'm sure) a combination of the three. I do believe some additional communication could allow the community to help wherever n

[2019-07-19 11:32] wang858 opened #1733 "listsinceblock 查不出transactions"
我用rpc命令listsinceblock 查不出交易的信息
![1563535758(1)](https://user-images.githubusercontent.com/36789456/61532198-a47e5780-aa5b-11e9-8506-4b46f478905d.jpg)
![image](https://user-images.githubusercontent.com/36789456/61532303-fa52ff80-aa5b-11e9-94b4-34d2098c4a8d.png)

但是我的地址是有交易的记录

[2019-07-21 19:40] greetzimperio opened #1734 "Not showing balance when import"
Hello I have one question on my bitcoin address I have  some bitcoins but when I import private key on some other Bitcoin wallets as a blockchain It shows the balance on the address but on omniwallet it displays balance 0 Does anyone know why this is so?

[2019-07-22 03:01] zeiv commented on #1694
Hey all, I went ahead and put together https://omnitrezor.com/.  It's a tool that can be used to create and send Simple Send OMNI transactions using your Trezor's Bitcoin accounts.  In other words, you can use it to send and receive and OMNI coin (USDT, MAID, etc) with your Trezor.  I've done a dozen or so live test transactions and all of them have gone through.  It was a bit more complicated tha

[2019-07-22 22:54] boonlannis commented on #1694
Thank you @zeiv ! I haven’t tried this tool out yet but looks like exactly what is needed.

[2019-07-24 14:03] achamely commented on #1733
Please post issues for omnicore in the omnicore repo  https://github.com/OmniLayer/omnicore

[2019-07-24 14:03] #1733 closed

[2019-07-24 14:04] achamely commented on #1734
@greetzimperio a backend process responsible for btc balance updates had frozen on monday.
The issue has since been corrected and the wallet should display btc address properly

[2019-07-24 14:04] #1734 closed

[2019-07-24 14:30] achamely commented on #1694
@zeiv thank you for putting that together. We are still working to develop a more full fledged setup but yes, there have been some priority adjustments and resource constraints over the past few months that have unfortunately delayed this.

One small thing to note is that only divisible token amounts need to be adjusted/converted  https://github.com/tektite-software/omni-trezor/blob/master/src/App

[2019-07-25 23:45] zeiv commented on #1694
@achamely, wow, thanks for the heads up.  I've deployed a fix for the amount encoding on non-divisible tokens.  Interestingly, the same issue is present on the Trezor's firmware itself.  Here's an image from testing before the fix:

![IMG_0096](https://user-images.githubusercontent.com/1824972/61915597-dc2d4980-af0a-11e9-89b3-62c0579a4e57.jpg)

I went ahead and made the OP_RETURN preview toggleabl

[2019-07-26 09:44] prusnak commented on #1694
I'll fix the bug in Trezor in the next firmware update. So are there only two options?
1) token is not divisible - do not translate
2) token is divisible - translate by 1e8
Correct?

[2019-07-26 11:01] prusnak commented on #1694
@zeiv I fixed the Trezor firmware via https://github.com/trezor/trezor-firmware/commit/c288514a4fcdb528ac637eb29ba711c367008c66 Can you confirm the fix works for you? (You can use the Trezor emulator so you don't need to re-flash your device)

[2019-07-26 13:18] achamely commented on #1694
@prusnak that is correct,
Divisible tokens can be sent in fraction amounts (i.e. 1.1, 0.3, 45.222444) So when encoding them into the opreturn they are translated by 1e8 for proper encoding.
Indivisible tokens can only be sent in whole amounts (1,2,3,4,5,6, ... ,4324222) so they do not need to be translated.

[2019-07-31 07:13] wang858 commented on #1733
ok

[2019-08-13 18:43] zx844174097 opened #1736 "omni_funded_sendall -211 error"
./omnicore-cli -datadir=/data/tether walletpassphrase xxxxxx 60

./omnicore-cli -datadir=/data/tether omni_funded_sendall "1HxCWbUnfc66GAHNSh64GRQaG4BL6qeS4V" "3K1kP36QNE2SJ1DWjjbZgE4d6n17pPG372" 1 "1CXmVRasNYKpZ3cHAgzssee5sAMcWyuGd6"

error code: -211
error message:
Error creating transaction (wallet may be locked or fees may not be sufficient)

why?

![微信截图_20190814023919](https://user-images.gi

[2019-08-26 02:20] ilaer commented on #1319
what do your mean?how to unlock?

[2019-09-05 22:26] jaygosselin opened #1739 "i lose my btc wallet also i lose my tether with i freak out"
what i can do for have back my tether usd is like same if is never exist

[2019-09-05 23:06] jaygosselin commented on #1739
can you help me please i lose 1400 usd and i cant found omggg

[2019-09-06 05:27] rid-dim commented on #1694
Okay - for the record (I guess @prusnak knows it anyway - but maybe for others following this issue) there is a third party wallet now supporting omni token on the trezor https://trezor.io/coins/ - doesn't mean you it wouldn't be cool if omni supports it Natively but There seems to be a workaround now (didn't look into it myself yet and no clue how trustworthy/easy to use it is.. )

[2019-10-14 10:35] zhangbenwei opened #1741 "why the creat button cannot pass?"
why the creat button cannot pass?

[2019-10-14 19:00] achamely commented on #1741
@zhangbenwei
Can you confirm you have filled in the email, password fields and completed the captcha ?
Do you see any error messages?

[2019-10-14 19:02] achamely commented on #1739
@jaygosselin Can you provide some more information about what exactly has happened?
Generally If you have lost your wallet there isn't much that can be done unless you have a backup.
You can also contact our helpdesk directly for issues with the wallet.

[2019-10-14 19:03] achamely commented on #1736
@zx844174097  please post omnicore issues to the omnicore repo https://github.com/OmniLayer/omnicore/issues

[2019-10-14 19:03] #1736 closed

[2019-10-16 07:55] zhangbenwei commented on #1741
@achamely yes.  no message when i fill in all fields .

[2019-10-25 11:39] raulosuna opened #1743 "Can't retrieve balance from balance check tool or from imported private key"
In omniwallet.org entering a valid Bitcoin Address containing both MAID and BTC stays loading forever and doesn't show the balance when clicking in "Check Balance".
Logging into the wallet and importing its private key does work, however balances are still shown as 0.
omniexplorer.info does show the correct balance.
Please fix this!

[2019-10-25 13:38] eevon6 opened #1744 "cant login to OMNI wallet"
On 25 Oct 2019, i cant login to OMNI wallet on 25 oct 2019 9am... may i know wat happen to omniwallet.... and when can it b solve?

[2019-10-30 16:17] CaptainSkywave opened #1745 "send AMP fail?"
Couldn't get list of unspent tx's. Response Code: txrefs

I get this when hitting Send (AMP) - what's wrong, if anything?

[2019-11-07 14:34] achamely commented on #1744
@eevon6 please reach out to the support team for assistance with login issues. https://www.omniwallet.org/about/contact

[2019-11-07 14:34] #1744 closed

[2019-11-07 14:40] achamely commented on #1745
@CaptainSkywave this issue should be resolved now however if you are still experiencing the issue please reach out to the support team https://www.omniwallet.org/about/contact for additional assistance

[2019-11-07 14:40] #1745 closed

[2019-11-07 14:42] achamely commented on #1720
was resolved with https://github.com/OmniLayer/omniwallet/pull/1721

[2019-11-07 14:42] #1720 closed

[2019-11-07 14:43] #1739 closed

[2019-11-11 06:59] xuehuizhang opened #1756 "how to send btc? use omniwallet rpc?"
how to send btc? use omniwallet rpc?

[2019-11-11 16:10] achamely commented on #1756
You need to login to your account on Omniwallet and use the send interface for full sending.
The omniwallet api only allows for unsigned transaction creation which needs to be signed by a local client.
Alternatively you can use the Omni Core desktop client if you want local rpc capabilities

[2019-11-22 01:41] yikaixiong opened #1758 "Mistaken！！！FIRST AID！！！"
The misdirection of the USDT has been received by the target party. Is there a way to recover it?

[2019-11-25 03:46] #1758 closed

[2020-01-04 12:39] matin-code opened #1761 "Accidently sent USDT to robofore btc address"
I have accidently sent 3471$ usdt to roboforex btc address. is there any way i can get it back?
i have searched and realized its possible butdont know how.
and i sent a ticket to roboforex support, can they help me recover it?

[2020-01-17 15:01] achamely commented on #1761
@matin-code They should be able to recover/return the funds as long as they can create an omni protocol tx.
If they need help on how to do that you can let them know they can reach out to us and we can assist in the recovery process.
However any recovery would have to be done by them and without their involvement there is nothing that can be done by anyone else.

[2020-01-17 15:01] #1761 closed

[2020-04-04 08:33] coopci opened #1767 "home page looks not working"
I was trying to set up omniwallet on centos, but the home page looks not working. [http://54.169.233.199/index.html](url), Would you please enlighten me what might be wrong?

[2020-04-07 10:34] ivndnkn opened #1768 "Can't send tether"
Hi.
Sending of tether isn't working today.
Loading spinner sins infinitely, and the transaction does not show as done.

[2020-04-07 16:58] #1768 closed

[2020-04-13 20:15] #1756 closed

[2020-06-16 21:32] msgilligan commented on #1288
@achamely Is there an Omniwallet URL that will show balances, equivalent to the following OmniExplorer URL: https://omniexplorer.info/address/1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P

[2020-08-09 06:13] divasinbox opened #1774 "Om"

[2020-09-11 20:06] #1774 closed

[2020-09-28 09:53] MMoiz300 opened #1775 "Withdrawal Amount Haven't Recieved"
I withdraw my USDT from my Binance wallet to BTC mistakenly via Omni. Now my 105$ amount is deducted along with 5$ transaction charges and the recipient only received 0.6$. please assist.

I can send all details of transaction.

[2020-10-24 15:16] niteofhunter commented on #700
do you know how to extend that timeout?

[2020-12-04 08:08] kylelew18 commented on #1775
follow. same issue here

[2020-12-23 08:57] yossi0605 opened #1776 "Withdrawal"
I have been made a withdrawal from my USDT wallet in binance by OMNI to another wallet in binance
By mistake it was not USDT wallet it was BTC wallet and the coin never arrive to the wallet and it’s go out from my account this is txid for the transaction 74ad9bda10a34a8680abf46fddbfe9c6ca4e5cc68572edf25843e9ec6204677f
And I will share screenshots for the transaction
![CCD5F446-D97E-4378-8F8B-537B8

[2021-01-02 22:58] bspaugh opened #1777 "OmniWallet doesn't recognize my credentials"
When I try to login I get a Sorry, we could not validate your credentials. Please check them and try again
If you continue to have difficulties, check out our Knowledge Base/Support Center
message.  It recognizes my info if I try to create a new account, but won't let me login. I tried with 2FA, Then with but did not get a code on either Authenticator or Authy.
I invested in cryptos in 2017 and se

[2021-01-14 12:18] just2712 opened #1778 "Omni to Omni Transaction"
3 Days ago and the amount is not deposited(Still unconfirmed). From Omni USDT to Omni USDT Adress.

hash:
cd20b37b66fa4405eb24e2a39ca803835894355df742690003014715fb0c22ca

What is the Problem now? i saw it takes like 1hour and not more like 3-x days

best regards
just2712

[2021-01-14 19:21] achamely commented on #1777
Please contact the support email for further assistance.

[2021-01-14 19:21] #1777 closed

[2021-01-14 19:22] achamely commented on #1778
The reason that tx is still unconfirmed is because the sender used a very low fee (14.139 sat/B). The current recommend network average is 102 sat/B. This has nothing to do with Omni/Tether and everything to do with using the right blockchain fees.

[2021-01-14 19:22] #1778 closed

[2021-01-14 19:24] achamely commented on #1776
@yossi0605 unfortunately nothing we can do. You need to contact Binance support and hope they are able to recover the funds for you.
All funds are owned / controlled only by the address they are currently on so only Binance could access/recover those funds.

[2021-01-14 19:24] #1776 closed

[2021-01-14 19:25] achamely commented on #1775
@MMoiz300 @kylelew18  if you can access the private key of the BTC address the funds were sent to you can manually recover them (see support.omniwallet.org for recovery instructions).
If you do not have access to the receiving address private key then your only option is to ask the receiving platform if they are willing to recover the funds for you.